#dashboardHTML {
    background-color: #eeeeee;
    /* padding: 3rem; */
    padding: 1.5rem;
}

#dashboardHTML .content {
    margin-bottom: 0;
}

#dashboardHTML .content.profileStatsData {
    padding: 3rem 0;
    border-style: solid;
    border-color: #c6c6c6;
}

#dashboardHTML .grid.gutters.cols-3 > .cell > .content {
    border-width: .1rem .1rem 0;
}

#dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(3) > .content {
    border-width: .1rem .1rem .1rem .1rem;
}

#dashboardHTML article .profileStatsData {
    text-align: center;
}

#dashboardHTML .h1Data {
    font-size: 5.2rem;
    letter-spacing: 4.3px;
}

#dashboardHTML .h5Data {
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #555555;
}

#dashboardHTML > .content.container > .grid.gutters.half.grow > .cell > article {
    height: 100%;
}

/* card title */
#dashboardHTML .h4CardTitle {
    padding-left: .7rem;
    margin-bottom: .9rem;
}

#dashboardHTML .upComing.card .fc-dateRow {
    padding-left: .7rem;
}

#dashboardHTML .h4LessonTitle {
    margin-bottom: .9rem;
}

#dashboardHTML .fc-taughtBy .h4LessonTitle {
    /* adjust global height */
    margin-bottom: .6rem;
}

#dashboardHTML .fc-attendLesson {
    padding: 2rem 0 .8rem .8rem;
}

#dashboardHTML .fc-attendLesson .fc-dateRowTitle .h4LessonTitle {
    margin-top: -1rem;
}

#dashboardHTML .fc-seeMore {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    padding-top: 2rem;
}

#dashboardHTML .fc-seeMore .h6seeMore a {
    font-size: 2.4rem;
    text-decoration: none;
    color: #4f4f4f;
}

#dashboardHTML .fc-seeMore .h6seeMore a:hover {
    text-decoration: none;
    color: #00b371;
}

@media only screen and (min-width: 768px) {
    /* ============================================ */
    /*              Dashboard - Stats               */
    /* ============================================ */
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(1) > .content {
        border-width: .1rem;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(2) {
        padding-left: 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(2) > .content {
        border-width: .1rem 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(3) {
        padding-left: 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(3) > .content {
        border-width: .1rem;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(1) > .content {
        border-width: 0 .1rem .1rem .1rem;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(2) {
        padding-left: 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(2) > .content {
        border-width: 0 0 .1rem 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(3) {
        padding-left: 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(3) > .content {
        border-width: 0 .1rem .1rem .1rem;
    }
}