*{
    margin: 0;
    padding: 0;
}

#dashboardHTML {
    /* min-height: 100vh; */
    background-color: #eeeeee;
    padding: 3rem 3rem 3rem 3rem;
}

#dashboardHTML article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
}

#dashboardHTML article h2 {
    font-size: 1.5rem;
    letter-spacing: 1.4px;
    /* color: #b9b9b9; */
    margin-bottom: .5rem;
}

#dashboardHTML .content {
    margin-bottom: 0;
}

#dashboardHTML .content.profileStatsData {
    padding: 3rem 0;
    border-style: solid;
    border-color: #c6c6c6;
    border-width: .1rem;
}

#dashboardHTML article .profileStatsData {
    text-align: center;
}

#dashboardHTML .h1Data, #dashboardHTML .h1Date {
    font-size: 4.5rem;
    /* font-weight: 300; */
    letter-spacing: 4.3px;
}

#dashboardHTML .h5Data {
    font-size: 1.2rem;
    /* font-weight: 500; */
    letter-spacing: 1.2px;
}

#dashboardHTML > .content.container > .grid.gutters.half.grow > .cell > article {
    height: 100%;
}

#dashboardHTML .fc-dateRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#dashboardHTML .fc-dateRow .fc-dateRowMonthYear {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
}

#dashboardHTML .h4MonthYear {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin-left: 1rem;
}

#dashboardHTML .h4LessonTitle {
    font-size: 1.5rem;
    letter-spacing: 1.4px;
}
#dashboardHTML .h4LessonTitle.ucMargin {
    margin: .75rem 0 .35rem 0;
}

#dashboardHTML p {
    font-size: 1.6rem;
    letter-spacing: 1px;
    padding: 1rem 0; 
}

#dashboardHTML .fc-taughtByThumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

#dashboardHTML .fc-taughtByThumbs img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-top: .5rem;
    margin-right: 1rem;
}