footer {
    /* height: 5%; */
}

body > footer,
#homePage > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
}

#homePage > footer {
    height: 0;
}

body > footer .copyAlignment,
#homePage > footer .copyAlignment {
    text-align: center;
}

body > footer .iconAlignment {
    text-align: center;
}

body > footer .cell:nth-of-type(2) {
    order: -1;
}

body > footer a {
    font-size: 3.4rem;
    padding: .75rem 0;
    text-decoration: none;
    color: #000000;
    margin-right: .75rem;
}

body > footer a:hover {
    color: #00b371;
}

body > footer a:nth-of-type(2) {
    margin-right: 0;
}

/* responsive grid after 480px */

@media only screen and (min-width: 480px) {
    body > footer .copyAlignment {
        text-align: left;
    }
    body > footer .iconAlignment {
        text-align: right;
    }
    body > footer .cell:nth-of-type(2) {
        order: 1;
    }
}

@media only screen and (min-width: 768px) {
    body > footer .copyAlignment {
        text-align: left;
    }
    body > footer .iconAlignment {
        text-align: right;
    }
    body > footer .cell:nth-of-type(2) {
        order: 1;
    }
}