#recursiveDirectoryHTML {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 3rem 0 3rem 3rem;
}
#recursiveDirectoryHTML hr {
    width: 80%;
    border-top: 0;
}
#recursiveDirectoryHTML .devName {
    font-size: 2rem;
    margin-bottom: 0;
}
#recursiveDirectoryHTML .devTitle {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 0;
}
#recursiveDirectoryHTML .devLocation {
    font-size: 1.2rem;
    font-weight: 100;
}
#recursiveDirectoryHTML .devPicture {
    border-radius: 50%;
}
#recursiveDirectoryHTML .directory-card {
    /* flex: 0 0 5rem; */
    /*height: 30%;*/
    flex: 0 0 28%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #c6c6c6;
    background-color: #ffffff;
    margin: 0 3rem 3rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}


