#recursiveDirectoryHTML {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* background-color: #eeeeee; */
    padding: 3rem 0 3rem 3rem;
}

#recursiveDirectoryHTML .devPicture {
    width: 31.6rem;
    height: auto;
    border-radius: 50%;
    margin: 0 0 3.8rem 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#recursiveDirectoryHTML .fc-text-group {
    width: 100%
}

#recursiveDirectoryHTML hr {
    width: 90%;
    margin: .6rem auto;
    border-top: 0;
    
}
#recursiveDirectoryHTML a {
    text-decoration: none;
}
#recursiveDirectoryHTML .devDirName {
    font-size: 3.6rem;
    /* margin-bottom: 0; */
    letter-spacing: 2.2px;
}
#recursiveDirectoryHTML .devDirName:hover {
    color: #00b371;
}
#recursiveDirectoryHTML .devDirTitle {
    font-size: 2.8rem;
    margin-bottom: .4rem;
    letter-spacing: 1.7px;
}
#recursiveDirectoryHTML .devLocation {
    font-size: 2rem;
    letter-spacing: 1.2px;
    margin: 0 0 0 0;
}

#recursiveDirectoryHTML .directory-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #c6c6c6;
    background-color: #ffffff;
    margin: 0 3rem 3rem 0;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.btnTemp {
    padding: 1rem 8rem;
}


