#upcomingLessonsHTML {
    background-color: #eeeeee;
    padding: 3rem 3rem 3rem 3rem;
}

#upcomingLessonsHTML  > .content.container > .grid.gutters.third > .cell > article {
    height: 100%;
}

#upcomingLessonsHTML .h4CardTitle {
    padding-left: .7rem;
    margin-bottom: 1.1rem;
}

#upcomingLessonsHTML .fc-upComingLesson {
    padding-left: .7rem;
    margin: 1.65rem 0 1.6rem 0;
}

#upcomingLessonsHTML .fc-upComingLesson .fc-dateRowTitle .h4LessonTitle {
    margin-top: -1.25rem;
}

#upcomingLessonsHTML .fc-taughtBy {
    margin: 1.1rem 0 2rem 0;
}

#upcomingLessonsHTML .fc-lessonButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
    
}

#upcomingLessonsHTML .lessonButton {
    flex: 0 0 32%;
    text-align: center;
    border-radius: 1rem;
    font-size: 2rem;
    letter-spacing: 1.2px;
    padding: 1.4rem 0;
}

#upcomingLessonsHTML .fc-attendingContainer {
    margin: 1.4rem 0 0 0;
}

#upcomingLessonsHTML .card .fc-lessonDate .fc-dateRow {
    padding-left: .7rem;
}

#upcomingLessonsHTML .card .fc-lessonTitleDescription .h4LessonTitle {
    margin-bottom: .9rem;
}

#upcomingLessonsHTML .fc-attending {
    padding-left: .7rem;
    margin: 1.4rem 0 0 0;
}

#upcomingLessonsHTML .fc-attendingThumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#upcomingLessonsHTML .fc-attendingThumbs .thumbAndName {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0 0 50%;
    margin: 1rem 0;
    align-items: center;
}

#upcomingLessonsHTML .thumbAndName .avatarThumbRound {
    margin: 0;
}

/* seth delete this shit */
#upcomingLessonsHTML .marginLeft14 {
    margin-left: 1.4rem;
}

#upcomingLessonsHTML .lessonButton.btnColorGreenBright:hover {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #00b371;
    color: #00b371;
}

#upcomingLessonsHTML .lessonButton.btnColorGreenForest:hover {
    background-color: #ffffff;
    color: #006842;
    border: 1px solid #006842;
    border-radius: 10px;
}

#upcomingLessonsHTML .lessonButton.btnColorGreenDark:hover {
    background-color: #ffffff;
    color: #2d3134;
    border: 1px solid #2d3134;
    border-radius: 10px;
}

#upcomingLessonsHTML .lessonButton.btnColorGreenBright {
    border: 1px solid #00b371;
}

#upcomingLessonsHTML .lessonButton.btnColorGreenForest {
    border: 1px solid #006842;
}

#upcomingLessonsHTML .lessonButton.btnColorGreenBright {
    border: 1px solid #2d3134;
}

#upcomingLessonsHTML .fc-dateRowTitle,

#upcomingLessonsHTML .thumbAndName,
#upcomingLessonsHTML .avatarThumbRound {
    cursor: pointer;
}

#upcomingLessonsHTML .fc-dateRowTitle.noStar .fc-dateRow i {
    display: none;
}

#upcomingLessonsHTML .fc-dateRowTitle.Star .fc-dateRow .fc-star {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

#upcomingLessonsHTML .fc-dateRowTitle.Star .fc-dateRow .fc-star i {
    display: flex;
    color: #ff9a23;
    margin-left: 1rem;
    font-size: 5rem;
}