#viewProfile {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* background-color: #eeeeee; */
    padding: 3rem 0 3rem 3rem;
    /* background-color: red; */
}

.imgAvatarL {
    width: 21.3rem;
    height: 21.3rem;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 2.6rem;
}

.fc-profileInfo {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    /* align-content: flex-start; */
    align-items: center;
}

.fc-profileInfoText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.fc-profileInfoText h1 {
    font-size: 3.6rem;
    letter-spacing: 2.2px;
}

.fc-profileInfoText h4 {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
}

.fc-profileInfoText-fine h6 {
    font-size: 1.4rem;
}

.fc-profileInfoText-fine {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.fc-profileInfoText-fine:first-of-type {
    margin: 1rem 0 0 0;
}

.fc-profileInfoText-fine h6:first-child {
    margin: 0 .5rem 0 0;
}

.fc-profileLinks {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 100%;
}

.fc-profileLinks-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75%;
}

.fc-profileLinks-icons > .icon {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    padding: 2rem 0 1.5rem 0;
    justify-content: center;
    align-items: center;
}

.icon > i {
    font-size: 4.2rem;
    margin: 0 0 1rem 0;
}

.fc-profileLinks-port {
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.fc-profileLinks-port h5 {
    font-size: 1.8rem;
    letter-spacing: 1.1px;
}

.fc-profileLinks-port {
    border-left: 1px solid #c6c6c6;
}

.fc-verticalCards {
    margin: 0 0 0 3rem;
}

.fc-verticalCards {
    /* padding-top: 1rem; */
}

.cardTile {
    /* width: 90%; */
    margin: 0 auto;
}

.fc-cardHorz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* justify-content: center; */
    align-items: center;
    border-top: 1px solid #c6c6c6;
}

.cardTile .fc-cardHorz.first {
    border-top: 1px solid #c6c6c6;
    border-top: 0;
}

.cardTile {
    padding: 0 2.5rem 0 2.5rem;
}

.cardTile > .fc-cardHorz > .imgAvatarS {
    width: 10.7rem;
    height: 10.7rem;
    border-radius: 50%;
}

.fc-cardHorz {
    padding: 2.5rem 0 2.5rem 0;
}

.fc-cardHorz img {
    margin-right: 1.8rem;
}

.fc-CardVertText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fc-CardVertText h4 {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
}

.fc-CardVertText h5 {
    font-size: 2rem;
    letter-spacing: 1.2px;
}

.fc-CardVertText h6 {
    font-size: 1.4rem;
    letter-spacing: 0.8px;
}

.fc-profileAbout h4, .fc-skillViewProfile h4 {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
}

.fc-skillViewProfile {
    padding: 1.6rem 3rem 0 3rem;
}