/* Layout CSS */

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    /* font-size: 10px; */
    /* margin: 0;
    padding: 0; */
}

html {
    background-color: #ececec;
}

body {
    font-size: 10px;
    /* margin: 0; */
    /* padding: 0; */

    /* width: 100vw; */
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    max-width: 1920px;
    margin: 0 auto;
    /* overflow: hidden; */

}

header {
    /* border: 1px solid #979797; */
    background-color: #ffffff;
    /* padding: 1rem; */
    /* height: 10%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content > .logo {
    text-align: center;
}

.content > .logo > img {
    height: 5.25rem;
    width: auto;
}

.content > nav {
    text-align: center;
}

.mobileNav {
    background-color: red;
    display: block;
}

.grow {
    flex-grow: 1;
}

.content .searchBar {
    text-align: center;
}
header .input.search {
    margin-left: 0;
}

.input {
    /* padding: 1rem 16rem 1rem 2rem; */
    padding: 1rem 6rem 1rem 2rem;
    margin-left: 2rem;
    border-radius: 3rem;
    border: .1rem solid #979797;
    font-size: 2rem;
    text-align: left;
}

.ta-left {
    text-align: left;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #2d3134;
    justify-content: flex-start;
    height: 100%;
    /* width: 300px; */
    /* align-items: stretch; */
    flex-grow: 1;
    margin: 0;

}

.sidebarImage {
    margin-top: 2rem;
    /* width: 50%; */
    width: 18rem;
    height: auto;
    padding-top: 1rem;
    border-radius: 50%;
}

.sidebarTitle {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
}

.sidebar .sidebar-item {
    /* flex: 12 12 auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0;

    margin: 0 5%;
    border-top: .05rem solid #979797;
    border-bottom: .05rem solid #979797;
}
.sidebar .sidebar-item:hover {
    margin: 0 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #027d50;
    cursor: pointer;
    border-top: .05rem solid #027d50;
    border-bottom: .05rem solid #027d50;
}

/* .sidebar .sidebar-item:last-of-type {
    align-content: stretch;
} */
.sidebar article span {
    font-size: 3.3rem;
    color: #ffffff;
}
.sidebar article .sidebarTitle {
    /* margin-left: 1rem; */
}
.devName {
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 1.4px;
    text-align: center;
    color: #ffffff;
    margin-top: 1.1rem;
    margin-bottom: .55rem;
}
.devName:hover {
    color: #c6c6c6;
    cursor: pointer;
}
.devTitle {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.44;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    margin-top: .3rem;
    margin-bottom: 2.5rem;
}
/* .sidebarImage {
    padding-top: 1rem;
    border-radius: 50%;
} */
.card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #c6c6c6;
}


footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
}

footer .copyAlignment {
    text-align: center;
}

footer .iconAlignment {
    text-align: center;
}

footer .cell:nth-of-type(2){
    order: -1;
}

footer a {
    font-size: 3.4rem;
    padding: .75rem 0;
    text-decoration: none;
    color: #000000;
    margin-right: .75rem;
}

footer a:hover {
    color: #00b371;
}

footer a:nth-of-type(2){
    margin-right: 0;
}

/* general classes */

.ttup {
    text-transform: uppercase;
}

.ttlow {
    text-transform: lowercase;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 900;
}

.colorGreen {
    color: #00b371;
}

.colorGrayb9 {
    color: #b9b9b9;
}

.colorBlack {
    color: #000000;
}

.colorBlack06 {
    color: #060606;
}

.colorGray42 {
    color: #424041;
}

.colorGray66 {
    color: #666666;
}

.colorWhiteff {
    color: #ffffff;
}

.btnColorGreenBright {
    background-color: #00b371;
}

.btnColorGreenForest {
    background-color: #006842;
}

.btnColorGreenDark {
    background-color: #2d3134;
}

/* Flexbox Responsive Grid */

/* Grid Def */
.grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

/* Grid Justify */
.gridRight {
    justify-content: flex-end;
}

.gridCenter {
    justify-content: center;
}

/* Grid Gutters */
.gutters {
    margin-left: -1em;
}
.gutters .cell {
    padding-left: 1em;
}

/* Container Vertical Center*/
.contVertCenter {
    align-items: center;
}

/* Grid TextAlign */
.u-textCenter {
    text-align: center;
}

.cell {
    flex: 1;
}

.content {
    padding: 0.8em 1em 0;
    margin-bottom: 1em;
}

.item-textCenter {
    text-align: center;
}
.item-textRight {
    text-align: right;
}

/* Alignment per cell */
.cell-top {
    align-self: flex-start;
}
.cell-bottom {
    align-self: flex-end;
}
.cell-center {
    align-self: center;
}

/* BASE GRID CLASSES - ALL  */
/* MOBILE FIRST!!!! */
.cols-2 > .cell {
    flex: 0 0 100%;
}
.cols-3 > .cell {
    flex: 0 0 100%;
}
.cols-4 > .cell {
    flex: 0 0 100%;
}
.cols-6 > .cell {
    /* flex: 0 0 calc(50% - 1em); */
    flex: 0 0 calc(100% - 1em);
}
.cols-12 > .cell {
    /* flex: 0 0 calc(33.3333% - 1em); */
    flex: 0 0 calc(100% - 1em);
}

/* One of -- columns*/
.half > .cell,
.third > .cell:first-of-type,
.quarter > .cell:first-of-type {
    flex: 0 0 100%;
}
.sixth > .cell:first-of-type {
    /* flex: 0 0 50%; */
    flex: 0 0 100%;
}
.fit > .cell {
    flex: 1;
}
.full > .cell {
    flex: 0 0 100%;
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
    *{
        font-size: 7px;
    }
}

/* Phone L 426px to 479 */
@media only screen and (max-width: 480px) and (min-width: 426px) {
    *{
        font-size: 7.5px;
    }
}

/* responsive grid after 480px */
@media only screen and (min-width: 480px){
    *{
        font-size: 8px;
    }
    .cols-4 > .cell {
        flex: 0 0 calc(50% - 1em);
    }
    .cols-6 > .cell {
        flex: 0 0 calc(33.3333% - 1em);
    }
    .cols-12 > .cell {
        flex: 0 0 calc(16.6666% - 1em);
    }
    .half > .cell {
        flex: 0 0 50%;
    }
    .sixth > .cell:first-of-type {
        flex: 0 0 30%;
    }
    .quarter > .cell:first-of-type {
        flex: 0 0 50%;
    }
    .third > .cell:first-of-type {
        flex: 0 0 100%;
    }

    .content > .logo > img {
        height: 5.25rem;
        width: auto;
    }

    footer .copyAlignment {
        text-align: left;
    }
    footer .iconAlignment {
        text-align: right;
    }
    footer .cell:nth-of-type(2){
        order: 1;
    }
}

/* Tablet  480 to 768 */
@media only screen and (max-width: 768px) and (min-width: 481px) {
    *{
        /* font-size: 8.5px; */
        /* overflow: auto; */
    }
    .mobileNav {
        display: block;
    }
    .desktopNav {
        display: none;
    }
}

/* responsive grid after 768px */
@media only screen and (min-width: 768px){
    *{
        font-size: 8.5px;
    }
    .cols-2 > .cell,
    .cols-3 > .cell,
    .cols-4 > .cell,
    .cols-6 > .cell,
    .cols-12 > .cell {
        flex: 1;
    }
    .half > .cell {
        flex: 0 0 50%;
    }
    .sixth > .cell:first-of-type {
        flex: 0 0 16.6666%;
    }
    .quarter > .cell:first-of-type {
        flex: 0 0 25%;
    }
    .third > .cell:first-of-type {
        flex: 0 0 33.3333%;
    }
    .gutters.nested .cell:first-of-type .content {
        margin-right: 0;
    }


    .content > .logo > img {
        height: 7rem;
        width: auto;
    }
    .content > .logo {
        text-align: left;
    }
    .content > nav {
        text-align: right;
    }
    .content .searchBar {
        text-align: right;
    }
    .sidebarImage {
        /* width: 75%; */
        width: 18rem;
        height: auto;
    }
    footer .copyAlignment {
        text-align: left;
    }
    footer .iconAlignment {
        text-align: right;
    }
    footer .cell:nth-of-type(2){
        order: 1;
    }
}


/* Laptop S 768 to 1024 */
@media only screen and (max-width: 1024px) and (min-width: 769px) {

}
/* Laptop M 1440 */
@media only screen and (max-width: 1440px) and (min-width: 1025px) {

}
/* All others */
/* @media (min-width: 1440px) { */
@media only screen and (min-width: 1440px) {
    *{
        font-size: 10px;
    }
}
