*{
    box-sizing: border-box;
}

header .cell .content {
    margin-bottom: 0;
}

.navButtons button,
.btn.btnFill.signUp,
.modalButtons {
    padding: 1rem 2rem;
    /* margin-left: 20px; */
    /* border-radius: 10px; */
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 1.2px;
}

#homePage .navButtons button:first-of-type{
    margin-left: 0;
}

#homePage .btnMarginTop {
    margin-top: 3.5rem;
}

#homePage .fc-alert {
    color: #721c25;
    background-color: #f7d7da;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
}

/* ============================================ */
/*             Modal Login/Signup               */
/* ============================================ */

#homePage .fc-form {
    padding: 7% 0;
    width: 100%;
}

#homePage .fc-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5% auto 0 auto;
    width: 100%;
    justify-content: center;
}
/* margin: 0 auto; */

#homePage .fc-input:first-of-type {
    margin: 0 auto;
}

#homePage .fc-input label {
    width: 30%;
    text-align: right;
    font-size: 3.6rem;
    letter-spacing: 2.2px;
}

#homePage .fc-input input {
    width: 60%;
    margin: 0 0 0 2.5rem;
    padding: 0 0 0 1.5rem;
    text-align: left;

    font-size: 2.4rem;
    letter-spacing: 2.2px;
}

#homePage .fc-input input::placeholder {
    color: #666666;
    font-weight: 100;
}

/* ++++++++++++++++++++++++++++++++++++++++++++ */

/* #homePage .fc-input input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 .25rem .025rem #00b371;
    border: 1px solid #00b371;
    outline: none;
} */

/* #homePage form button {
    margin: 3rem auto 0 auto;
    padding: 2rem 16rem;
    font-size: 2rem;
    letter-spacing: 1.2px;
} */

#homePage .content > .imgAvatarMed {
    width: 50%;
    border-radius: 50%;
}

#homePage .content > .imgAvatarLarge {
    width: 75%;
    border-radius: 50%;
}

#homePage .content:after {
    content: "";
    display: block;
    margin-top: 0.8em;
    height: 1px;
}

#homePage .bannerImage {
    background-image: url("../images/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

#homePage .bannerImageTextBox h1 {
    font-family: 'Abel', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    letter-spacing: 4.8px;
    font-weight: lighter;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}

#homePage .section {
    padding: 150px 0;
    background-color: #ffffff;
}

#homePage .section h4 {
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    color: #000000;
    margin: .25rem 0;
}

#homePage .section h2 {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin: .75rem 0 .75rem 0;
}

#homePage .section p {
    width: 75%;
    margin: auto auto;
}

#homePage .section p,
#homePage .tile.people p {
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #000000;
}

#homePage .section p span {
    font-size: 2.4rem;
    font-weight: bolder;
    letter-spacing: 2.8px;
    color: #000000;
}

#homePage .section.description {
    background-color: #f6f6f6;
}

#homePage .section.people h3 {
    font-size: 2.52rem;
    font-weight: 500;
    letter-spacing: 2.2px;
}

#homePage .section.famousQuote {
    background-color: #2d3134;
}

#homePage .section.famousQuote p {
    color: #ffffff;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2.2px;
}

#homePage .section.famousQuote .quoteAlignment {
    text-align: center;
}

footer {
    background-color: #ffffff;
}

footer p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #a2a2a2;
}

footer .content {
    padding-top: 0;
    margin-bottom: 0;
}

footer .content:after {
    margin-top: 0;
}
