#interviewPrepHTML {
    /* min-height: 100vh; */
    background-color: #eeeeee;
}

#interviewPrepHTML .content.container {
    padding: 0;
}

#interviewPrepHTML .cardContainer {
    padding: 3rem 3rem 3rem 3rem;
}

#interviewPrepHTML .submitInterviewQuestion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem 3rem;
}

/* ======================================================= */
/*        interviewPrepHTML Submit Question Modal          */
/* ======================================================= */
#interviewPrepHTML .fc-modalForm {
    padding: 3.5rem 0 4rem 0;
}

#interviewPrepHTML .fc-modalForm h4 {
    margin-bottom: .9rem;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* turn off defalut content */
#interviewPrepHTML .cell .sortBar, #interviewPrepHTML .cell .filterBar {
    background-color: #eeeeee;
}

#interviewPrepHTML .sortBar.content, 
#interviewPrepHTML .filterBar.content {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#interviewPrepHTML .sortBar.content {
    justify-content: flex-start;
}

#interviewPrepHTML .filterBar.content {
    justify-content: flex-end;
}

#interviewPrepHTML .sortBar .fc-sortFilterBar, 
#interviewPrepHTML .filterBar .fc-sortFilterBar {
    padding: 1.25rem 1.5rem 1.25rem 2.75rem;
    background-color: #ffffff;
    border: 1px solid #979797;
    width: 94%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

#interviewPrepHTML .sortBar.content input, 
#interviewPrepHTML .filterBar.content input {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    border: none;
    width: 70%;
}

#interviewPrepHTML .sortBar.content .fc-sortFilterBar input:focus,
#interviewPrepHTML .filterBar.content .fc-sortFilterBar input:focus {
    outline: none;
}

#interviewPrepHTML .sortBar.content .h4TitleSortFilter, 
#interviewPrepHTML .filterBar.content .h4TitleSortFilter {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    border: none;
    padding: 0 2.5rem;
    /* width: 20%; */
    text-align: center;
}

#interviewPrepHTML .sortBar.content i, 
#interviewPrepHTML .filterBar.content i {
    font-size: 7rem;
    color: #00b371;
    /* width: 10%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-top: -3.5rem;
    /* align-self: flex-start; */
}


/* ======================================================= */
/*           interviewPrepHTML Question Card               */
/* ======================================================= */


#interviewPrepHTML .interviewQuestion.card {
    padding: 0;
}

#interviewPrepHTML .fc-interviewQuestion-pad-top {
    padding: 3rem 3rem 0 3rem;
}

#interviewPrepHTML .fc-interviewQuestion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1.5rem;
    align-items: center;
}

#interviewPrepHTML .h4TitleInterviewQuestion {
    font-size: 2.4rem;
    letter-spacing: 1.7px;
}

#interviewPrepHTML .h5DateInterviewQuestion {
    font-size: 2rem;
    letter-spacing: 1.7px;
}

#interviewPrepHTML .fc-pLesson {
    margin: 1.9rem .7rem;
    max-height: 20rem;
    /* min-height: 8rem; */
    overflow: auto;
}

#interviewPrepHTML .fc-pLesson p {
    font-size: 1.6rem;
    letter-spacing: 1px;
}


#interviewPrepHTML .fc-interviewQuestion-pad-bot {
    padding: 0 3rem 3rem 3rem;
}

#interviewPrepHTML .fc-replies {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.9rem 0 0 0;
    /* display: none; */
}

#interviewPrepHTML .fc-replies.open {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.9rem 0 0 0;
}

#interviewPrepHTML .fc-replies .answers {
    display: none;
}

#interviewPrepHTML .fc-replies.open .fc-answers {
    display: flex;
    flex-direction: column;
    margin: 1.9em 0;
}

#interviewPrepHTML .fc-replies.open .fc-answers .fc-author {
    display: flex;
    flex-direction: row;
}

#interviewPrepHTML .fc-replies.open .fc-answers h5, .fc-replies.open .fc-answers p {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

#interviewPrepHTML .fc-replies.open .fc-answers .fc-author .h5TitleDate {
    margin: 0 0 0 .5rem;
} 

#interviewPrepHTML .fc-replies.open .fc-answers p {
    margin: 1rem 0 2rem 0;
}

#interviewPrepHTML .fc-replies.open > button {
    align-self: flex-end;
    /* offset from line */
    /* margin: 1.9rem 0 0 0; */
}

#interviewPrepHTML .fc-replies button {
    padding: 2rem 0;
    width: 24rem;
    font-size: 2rem;
    letter-spacing: 1.2px;
    margin: 0 0 0 0;
}

#interviewPrepHTML .fc-interviewQuestionTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    margin: 1.5rem 2.5rem;
}

#interviewPrepHTML .tagInterviewQuestion {
    font-size: 2rem;
    letter-spacing: 1.2px;
    padding: 1rem 2rem;
    border: 1px solid #00b371;
    border-radius: 2.3rem;
    margin: .5rem .5rem .5rem .5rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ======================================================= */
/*           interviewPrepHTML Answer Modal                */
/* ======================================================= */
#interviewPrepHTML .fc-textAreaModalAnswer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2.4rem auto 0 auto;
    justify-content: center;
}

#interviewPrepHTML .fc-textAreaModalAnswer .labelSm {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    
    margin: 0 0 1.1rem 0;
}

#interviewPrepHTML .fc-textAreaModalAnswer textarea  {
    padding: 1rem 1.5rem;
    text-align: left;
    
    font-size: 2.4rem;
    letter-spacing: 2.2px;
}

#interviewPrepHTML .fc-textAreaModalAnswer textarea {
    resize: none;
}

#interviewPrepHTML .fc-textAreaModalAnswer textarea::placeholder {
    color: #666666;
    font-weight: 100;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */