/* Layout CSS */

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: #ececec;
}

body {
    font-size: 10px;
    /* margin: 0; */
    /* padding: 0; */
    /* width: 100vw; */
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* overflow: hidden; */
}

/* #mainWindow {
    margin-top: 70px;
    margin-left: 20%;
    margin-bottom: 40px;
} */

.content > nav {
    text-align: center;
}

.mobileNav {
    background-color: red;
    display: block;
}

.hamburger {
    font-size: 4rem;
    margin: .5rem;
    display: none;
}

.displayed {
    display: block !important;
}

.home {
    display:none;
}

.marginLeft {
    margin-left: 20%;
}

.grow {
    flex-grow: 1;
}

.content .searchBar {
    text-align: center;
}

button.btn.btnFill.greenNavButton {
    font-size: 2rem;
    padding: 1rem 4rem;
    border-radius: 1rem;
}

.homeNavButton {
    margin-right: 2rem;
}

.uploadButton {
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 0 1rem;
    /*lol  */
}

.fc-input-profile input.resumeInput {
    width: 51%;
}

.btn {
    cursor: pointer;
}

.btn.btnFill, 
.btn.btnOutline:hover {
    border: 1px solid #00b371;
    background-color: #00b371;
    border-radius: 10px;
    color: #ffffff;
}

.btn.btnOutline, 
.btn.btnFill:hover {
    border: 1px solid #00b371;
    background-color: #ffffff;
    border-radius: 10px;
    color: #00b371;
}

.btn.btnFill.signUp {
    width: 40rem;
    padding: 1rem 0;
    margin-left: 0px;
}

form button {
    margin: 3rem auto 0 auto;
    padding: 2rem 16rem;
    font-size: 2rem;
    letter-spacing: 1.2px;
}

.h2Title {
    font-size: 5rem;
    letter-spacing: 3px;
    margin: 1.5rem 0 .75rem 0;
}

.h4Title {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    margin: .25rem 0;
}

.input {
    /* padding: 1rem 16rem 1rem 2rem; */
    padding: 1rem 2rem 1rem 2rem;
    margin-left: 2rem;
    border-radius: 3rem;
    border: .1rem solid #979797;
    font-size: 2rem;
    text-align: left;
    width: 30%;
}

.ta-left {
    text-align: left;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #c6c6c6;
    margin-bottom: 3rem;
    /* margin: 1.5em; */
}

.cell > article {
    display: flex;
    flex-direction: column;
    padding: 2.1rem 3rem 2.2rem 3rem;
    background-color: white;
}

.cell > article h4 {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    /* font-weight: 500 !important; */
}

/* date row from dashboard and upcoming lessons */
.fc-dateRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* 1.5 padding - with a .825 adj for tall h1 */
    padding: .7rem 0;
}

.fc-dateRow .fc-dateRowMonthYear {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
}

.h1Date {
    font-size: 5.75rem;
    letter-spacing: 4.3px;
    width: 7.8rem;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.h4MonthYear {
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    margin-left: 1rem;
}

.h4MonthYear:first-of-type {
    margin-bottom: -.5rem;
}
.h4MonthYear:nth-of-type(2) {
    margin-bottom: .25rem;
}
/* lesson title */
.h4LessonTitle {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
}

.fc-taughtBy .h4LessonTitle {
    margin-bottom: .2rem;
}

.fc-taughtByThumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.avatarThumbRound {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: .6rem;
}

.fc-lessonTitleDescription {
    margin: 1.7rem 0 2rem 0;
    margin-left: .7rem;
}

.fc-lessonTitleDescription p {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.fc-taughtBy {
    margin: .9rem 0 0 0;
    padding-left: .7rem;
}

.skillCategoryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1.5rem 2.5rem;
}

.skillCategory {
    font-size: 2rem;
    letter-spacing: 1.2px;
    padding: 1rem 2rem;
    border: 1px solid #00b371;
    border-radius: 2.3rem;
    margin: .5rem .5rem .5rem .5rem;
}

/* ============================================ */
/*       Modal CSS         */
/* ============================================ */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, .4);
    /* size */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* if over scroll */
    overflow: auto;
}

.modalContent {
    /* padding */
    margin: 15rem auto 0 auto;
    padding: 4.2rem 5rem;
    width: 72.5%;
}

.fc-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2ModalTitle {
    font-size: 4rem;
    letter-spacing: 2.4px;
    margin: 0 0 3.5rem 0;
}

.modalHR {
    border-top: 0;
    border-bottom: 1px solid #c6c6c6;
    /* margin: 1rem 10%; */
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-error {
    font-size: 1.6rem;
    color: darkred;
}

.input-error-container {
    margin-left: 37%;
}

.modalButtons {
    font-size: 3.6rem;
    margin-top: 1rem;
    padding: 1rem;
}

/* ============================================ */
/*       Modal CSS for VFL and Interview        */
/* ============================================ */

.fc-modalForm {
    padding: 4rem 0;
}

.fc-modalInput {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto 2.4rem auto;
    width: 90%;
    justify-content: center;
}

.fc-modalInput > .autocomplete {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto 2.4rem auto;
    width: 100%;
    justify-content: center;
}

.fc-modalInput > .autocomplete > .autocomplete-items {
    position: absolute;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.fc-modalInput .labelSm {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    
    margin: 0 0 1.1rem 0;
}

.fc-modalInput input, .fc-modalInput textarea  {
    padding: 1rem 1.5rem;
    text-align: left;
    
    font-size: 2.4rem;
    letter-spacing: 2.2px;
}

.fc-modalInput textarea {
    resize: none;
}

.fc-modalInput input::placeholder, .fc-modalInput textarea::placeholder {
    color: #666666;
    font-weight: 100;
}

/* ============================================ */

/* ============================================ */
/*       Modal CSS for input/autocomplete       */
/* ============================================ */

.autocomplete {
    position: relative;
    display: block;
}

.autocomplete-items {
    position: absolute;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    width: 80%;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    /* padding: 10px; */
    padding: 1rem;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4; 
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: 1.1px;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-items div strong {
    font-size: 1.8rem;
    letter-spacing: 1.1px;
}

.autocomplete-items > .item.active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #00b371 !important;
    border-bottom: 1px solid #00b371;
    color: #ffffff;
}

/* ============================================ */

.h3TitleVoteCount, .h3ReplyCount {
    font-size: 2.8rem;
    letter-spacing: 1.7px;
}

input[type=email],
input[type=password],
input[type=number],
input[type=search], 
input[type=text],
input[type=url],
textarea:focus {
    border: 1px solid #979797
}


input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus, 
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
    box-shadow: 0 0 .125rem .025rem #00b371;
    border: 1px solid #00b371;
    outline: none;
}

/* general classes */

.ttup {
    text-transform: uppercase;
}

.ttlow {
    text-transform: lowercase;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 900;
}

.colorGreen {
    color: #00b371;
}

.colorGrayb9 {
    color: #b9b9b9;
}

.colorGrayc9 {
    color: #c9c9c9;
}

.colorBlack {
    color: #000000;
}

.colorBlack06 {
    color: #060606;
}

.colorGray42 {
    color: #424041;
}

.colorGray55 {
    color: #555555;
}

.colorGray64 {
    color: #646464;
}

.colorGray66 {
    color: #666666;
}

.colorWhiteff {
    color: #ffffff;
}

.btnColorGreenBright {
    background-color: #00b371;
}

.btnColorGreenForest {
    background-color: #006842;
}

.btnColorGreenDark {
    background-color: #2d3134;
}

.mb3 {
    margin-bottom: 3rem;
}

.alert {
    margin: 1rem 0 0 0;
    width: 100%;
    padding: 2rem;
    color: #ffffff;
}

.fc-alert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.error {
    background-color: red;
}

.warn {
    background-color: orange;
}

.status {
    background-color: #00b371;
}

/* ============================================ */
/*           Flexbox Responsive Grid            */
/* ============================================ */
/* Grid Def */

.grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

/* Grid Justify */

.gridRight {
    justify-content: flex-end;
}

.gridCenter {
    justify-content: center;
}

/* Grid Gutters */

.gutters {
    margin-left: -3em;
}

.gutters .cell {
    /* padding-left: 1em; */
    padding-left: 3em;
}

.cell.padding {
    padding: 3rem 3rem 3rem 3rem;
}

/* Container Vertical Center*/

.contVertCenter {
    align-items: center;
}

/* Grid TextAlign */

.u-textCenter {
    text-align: center;
}

.cell {
    flex: 1;
}

.content {
    /* padding: 0.8em 1em 0; */
    padding: 0.8rem 1rem 0;
    /* margin-bottom: 1rem; */
    margin-bottom: 3rem;
}

.item-textCenter {
    text-align: center;
}

.item-textRight {
    text-align: right;
}

/* Alignment per cell */

.cell-top {
    align-self: flex-start;
}

.cell-bottom {
    align-self: flex-end;
}

.cell-center {
    align-self: center;
}
/* ============================================ */
/*            BASE GRID CLASSES - ALL           */
/* ============================================ */
/* MOBILE FIRST!!!! */

.cols-2 > .cell {
    flex: 0 0 100%;
}

.cols-3 > .cell {
    flex: 0 0 100%;
}

.cols-4 > .cell {
    flex: 0 0 100%;
}

.cols-6 > .cell {
    /* flex: 0 0 calc(50% - 1em); */
    flex: 0 0 calc(100% - 1em);
}

.cols-12 > .cell {
    /* flex: 0 0 calc(33.3333% - 1em); */
    flex: 0 0 calc(100% - 1em);
}

/* One of -- columns*/
.twothirds > .cell:first-of-type,
.half > .cell:first-of-type,
.third > .cell:first-of-type,
.quarter > .cell:first-of-type {
    flex: 0 0 100%;
}

.sixth > .cell:first-of-type {
    /* flex: 0 0 50%; */
    flex: 0 0 100%;
}

.fit > .cell {
    flex: 1;
}

.full > .cell {
    flex: 0 0 100%;
}
