* {
    /* test for connection */
    /* color: red !important;  */
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
    .hamburger {
        font-size: 4rem;
        display: inline-block;
        left: 3rem;
        top: 2rem;
        position: absolute;
    }
    * {
        font-size: 7px;
    }
    .sidebar {
        width: 35%;
        top: 10%;
        display: none;
    }
    #mainWindow {
        margin-left: 0;
    }
    .home {
        display: block;
    }
    .headerOptionalNav {
        display: none;
    }
    #homePage .navButtons button,
    #homePage .btn.btnFill.signUp {
        padding: .75rem 1.75rem;
    }
}

/* Phone L 426px to 479 */

@media only screen and (max-width: 480px) and (min-width: 426px) {
    * {
        font-size: 7.5px;
    }
    .hamburger {
        font-size: 4rem;
        display: inline-block;
        left: 3rem;
        top: 2rem;
        position: absolute;
    }
    .sidebar {
        width: 35%;
        top: 10%;
        display: none;
    }
    #mainWindow {
        margin-left: 0;
    }
    .home {
        display: block;
    }
    .headerOptionalNav {
        display: none;
    }
    #homePage .section.famousQuote p {
        padding: 0;
    }
}

/* responsive grid after 480px */

@media only screen and (min-width: 480px) {
    * {
        font-size: 8px;
    }
    .cols-4>.cell {
        flex: 0 0 calc(50% - 1em);
    }
    .cols-6>.cell {
        flex: 0 0 calc(33.3333% - 1em);
    }
    .cols-12>.cell {
        flex: 0 0 calc(16.6666% - 1em);
    }
    .twothirds>.cell:first-of-type {
        flex: 0 0 66.67%;
    }
    .half>.cell:first-of-type {
        /* flex: 0 0 50%; */
        flex: 0 0 100%;
    }
    .sixth>.cell:first-of-type {
        flex: 0 0 30%;
    }
    .quarter>.cell:first-of-type {
        flex: 0 0 50%;
    }
    .third>.cell:first-of-type {
        flex: 0 0 100%;
    }
    
    /* ============================================ */
    /*                     Header                   */
    /* ============================================ */
    
    body > header .content > .logo > img {
        height: 6.5rem;
        width: auto;
    }
    
    /* ============================================ */
    /*                     Footer                   */
    /* ============================================ */
    
    body > footer .copyAlignment {
        text-align: center;
        /* padding: .25rem 0 1rem 0; */
    }
    body > footer .iconAlignment {
        text-align: center;
    }
    body > footer .cell:nth-of-type(2) {
        order: -1;
    }
    
    /* ============================================ */
    /*                 homeScreen                   */
    /* ============================================ */
    
    #homePage .navButtons button,
    #homePage .btn.btnFill.signUp {
        padding: 1rem 2.5rem;
    }
}

/* Tablet  480 to 768 */

@media only screen and (max-width: 768px) and (min-width: 481px) {
    * {
        /* font-size: 8.5px; */
    }

    .hamburger {
        font-size: 4rem;
        display: inline-block;
        left: 3rem;
        top: 2rem;
        position: absolute
    }
    .sidebar {
        width: 100%;
        /* top: 10%; */
        display: none;
        height: 100%;
    }
    .fc-devInfo {
        margin: 3rem 0;
    }
    .home {
        display: block;
    }
    .headerOptionalNav {
        display: none;
    }
    .mobileNav {
        display: block;
    }
    .desktopNav {
        display: none;
    }
    /* #mainWindow{
        margin-left: 0;
        margin-bottom: 40px;
        margin-top: 112px;
    } */
    
    .sidebarImage {
        width: 100px;
    }
    
    /* ============================================ */
    /*                interview Prep                */
    /* ============================================ */
    
    #interviewPrepHTML .sortBar .fc-sortFilterBar, 
    #interviewPrepHTML .filterBar .fc-sortFilterBar {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    
}


/* responsive grid after 768px */
@media only screen and (min-width: 768px) {
    * {
        font-size: 8.5px;
    }
    .cols-2>.cell,
    .cols-3>.cell,
    .cols-4>.cell,
    .cols-6>.cell,
    .cols-12>.cell {
        flex: 1;
    }
    .twothirds>.cell:first-of-type {
        flex: 0 0 66.67%;
    }
    .half>.cell:first-of-type {
        flex: 0 0 50%;
    }
    .sixth>.cell:first-of-type {
        flex: 0 0 16.6666%;
    }
    .third>.cell:first-of-type {
        flex: 0 0 33.3333%;
    }
    .quarter>.cell:first-of-type {
        flex: 0 0 25%;
    }
    .gutters.nested .cell:first-of-type .content {
        margin-right: 0;
    }
    /* .content>.logo>img {
        height: 7rem;
        width: auto;
    }
    .content>.logo {
        text-align: left;
    } */
    .content > nav {
        text-align: right;
    }
    .content .searchBar {
        text-align: right;
    }
    
    /* ============================================ */
    /*                     Header                   */
    /* ============================================ */
    
    body > header .content > .logo > img {
        width: auto;
    }
    body > header .content > .logo {
        text-align: left;
    }
    
    /* ============================================ */
    /*                     Footer                   */
    /* ============================================ */
    
    body > footer .copyAlignment {
        text-align: left;
    }
    body > footer .iconAlignment {
        text-align: right;
    }
    body > footer .cell:nth-of-type(2) {
        order: 1;
    }
    
    /* ============================================ */
    /*              Dashboard - Stats               */
    /* ============================================ */
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(1) > .content {
        border-width: .1rem;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(2) {
        padding-left: 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(2) > .content {
        border-width: .1rem 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(3) {
        padding-left: 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(3) > .content {
        border-width: .1rem;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(1) > .content {
        border-width: 0 .1rem .1rem .1rem;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(2) {
        padding-left: 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(2) > .content {
        border-width: 0 0 .1rem 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(3) {
        padding-left: 0;
    }

    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(3) > .content {
        border-width: 0 .1rem .1rem .1rem;
    }
    
    /* ============================================ */
    /*                 homeScreen                   */
    /* ============================================ */
    
    #homePage .navButtons button, 
    #homePage .btn.btnFill.signUp {
        padding: 1rem 4rem;
    }
    #homePage .section.famousQuote .quoteAlignment {
        text-align: left;
    }
}

/* Laptop S 768 to 1024 */

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    
}

/* Laptop M 1440 */

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    
}

/* All others */
/* @media (min-width: 1440px) { */

@media only screen and (min-width: 1440px) {
    * {
        font-size: 10px;
    }
    
    /* ============================================ */
    /*                 homeScreen                   */
    /* ============================================ */
    
    #homePage .navButtons button,
    #homePage .btn.btnFill.signUp {
        padding: 1rem 6rem;
    }
}