<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,500,900" rel="stylesheet">
</head>
<body>
<section id="dashboardHTML">
    <!-- <h1>HELLO I AM THE DASHBOARD</h1> -->
    <article>
        <!-- Profile Stats -->
        <div class="fc-profileStats">
            <h2>Profile Statistics</h2>
            <div class="fc-profileStatsData">
                <div class="profileStatsData">
                    <h1 class="dataGreen">27</h1>
                    <h5 class="dataGrey">Profile Visits</h5>
                </div>
                <div class="profileStatsData">
                    <h1 class="dataGreen">10</h1>
                    <h5 class="dataGrey">GitHub Views</h5>
                </div>
                <div class="profileStatsData">
                    <h1 class="dataGreen">8</h1>
                    <h5 class="dataGrey">CodePen Views</h5>
                </div>
                <div class="profileStatsData">
                    <h1 class="dataGreen">13</h1>
                    <h5 class="dataGrey">Portfolio Views</h5>
                </div>
                <div class="profileStatsData">
                    <h1 class="dataGreen">17</h1>
                    <h5 class="dataGrey">LinkedIn Views</h5>
                </div>
                <div class="profileStatsData">
                    <h1 class="dataGreen">9</h1>
                    <h5 class="dataGrey">Resume Views</h5>
                </div>
            </div>
        </div>
    </article>
    <article>
        <!-- lessons -->
        <div class="fc-lessons">
            <div class="fc-CardHalf">
                <div class="fc-upComing">
                    <h2>Upcoming Lesssons</h2>
                    <hr>
                    <div class="fc-dateRow">
                        <h1>25</h1>
                        <div class="fc-dateRowMonthYear">
                            <h4>November</h4>
                            <h4>2017</h4>
                        </div>
                    </div>
                    <hr>
                    <h4 class="headingLessonTitle">Designing with A-Frame VR</h4>
                    <p>Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                    <br><br>
                    Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                    <!-- <br><br>
                    Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                    <br><br>
                    Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                    <br><br>
                    Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                    <br><br>
                    Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. -->
                    </p>
                    <hr>
                    <h4 class="headingLessonTaught">Taught by:</h4>
                    <div class="fc-taughtByThumbs">
                        <img src="../public/images/avatar1.png" alt="">
                        <img src="../public/images/avatar2.png" alt="">
                        <img src="../public/images/avatar3.png" alt="">
                        <img src="../public/images/avatar4.png" alt="">
                        <img src="../public/images/avatar5.png" alt="">
                        <img src="../public/images/avatar6.png" alt="">
                        <!-- <img src="../public/images/avatar1.png" alt="">
                        <img src="../public/images/avatar1.png" alt=""> -->
                    </div>
                </div>
            </div>
            <div class="fc-CardHalf">
                <div class="fc-imAttending">
                    <h2>I'm Attending</h2>
                    <hr>
                    <div class="fc-dateRowTitle">
                        <div class="fc-dateRow">
                            <h1>25</h1>
                            <div class="fc-dateRowMonthYear">
                                <h4>November</h4>
                                <h4>2017</h4>
                            </div>
                        </div>
                        <h4 class="headingLessonTitleLight">Designing with A-Frame VR</h4>
                    </div>
                    <hr>
                    <div class="fc-dateRowTitle">
                        <div class="fc-dateRow">
                            <h1>25</h1>
                            <div class="fc-dateRowMonthYear">
                                <h4>November</h4>
                                <h4>2017</h4>
                            </div>
                        </div>
                        <h4 class="headingLessonTitleLight">Designing with A-Frame VR</h4>
                    </div>
                    <hr>
                    <div class="fc-dateRowTitle">
                        <div class="fc-dateRow">
                            <h1>25</h1>
                            <div class="fc-dateRowMonthYear">
                                <h4>November</h4>
                                <h4>2017</h4>
                            </div>
                        </div>
                        <h4 class="headingLessonTitleLight">Designing with A-Frame VR</h4>
                    </div>
                    <hr>
                    <div class="fc-seeMore">
                        <h6 class="seeMore"><a href="#">See More</a></h6>  
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
</body>
</html>
