<template id="page">
<section id="editProfileHTML">
    <div class="content container">
        <!-- THIS SECTION IS FOR THE SAVE CHANGES DROPDOWN -->
        <!-- <div class="grid full">
            <div class="cell">
                <article class="changeProfile card">
                    <div class="fc-changeProfileText">
                        <h2 class="h2TitleChange fw300 colorWhiteff">Looks like you've made a change.  Save your changes?</h2>
                        <button id="btnSaveProfileChanges" class="btn btnFill signUp saveProfile ttup">Save Changes</button>
                    </div>
                </article>
            </div>
        </div> -->
        <div class="cardContainer">
            <div class="grid full">
                <div class="cell">
                    <article class="editProfile card">
                        <slot name="editProfile"></slot>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
</template>
<script src="../scripts/global.js"></script>

<template id="currentUserProfile">
    <!-- avatar/name -->
    <div class="fc-topBar">
        <div class="grid gutters quarter">
            <div class="cell">
                <!-- fix commit -->
                <img class="avatarPicXL" slot="profileBasicValImgAttrs">
                <!-- <label id="profile-picture" class="caption card">
                    <span class="profileTitle fw500">Add Profile Picture</span>
                    <input id="file" style="visibility:hidden;" type="file">
                </label> -->
                <div id="profile-picture" class="caption card">
                    <span class="profileTitle fw500">Add Profile Picture</span>
                    <input id="file" style="visibility:hidden;" type="file">
                </div>
                <!-- end fix commit -->
                <!-- <img class="avatarPicXL" src="public/images/porg_sq.jpeg" alt=""> -->
                <!-- <img class="avatarPicXL" slot="profileBasicValImgAttrs">
                <div class="caption card">
                    <h5 class="profileTitle colorGray42 fw500">Edit Profile Picture</h5>
                </div> -->
            </div>
            <div class="cell">
                <div class="fc-infoCont1">
                    <h4 class="colorGray42 fw900 ttup">Basic Information</h4>
                    <hr>
                    <div class="fc-inputProfile">
                        <div class="fc-form-profile">
                            <div class="fc-input-profile">
                                <label class="colorGray42 fw900" for="name">Name:</label>
                                <input class="colorGray42 fw300" type="text" name="name" placeholder="Name" slot="profileBasicValName">
                            </div>
                            <div class="fc-input-profile">
                                <label class="colorGray42 fw900" for="age">Age:</label>
                                <input class="colorGray42 fw300" type="number" name="age" placeholder="Age" slot="profileBasicValAge">
                            </div>
                            <div class="fc-input-profile">
                                <label class="colorGray42 fw900" for="location">Location:</label>
                                <input class="colorGray42 fw300" type="text" name="location" placeholder="Location" slot="profileBasicValLocation">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Professional Stats -->
    <div class="fc-infoCont2">
        <h4 class="colorGray42 fw900 ttup">Professional Status</h4>
        <hr>
        <div class="fc-inputProfile">
            <div class="fc-form-profile">
                <div class="fc-input-profile">
                    <label class="colorGray42 fw900" for="jobTitle">Job Title:</label>
                    <input class="colorGray42 fw300" type="text" name="jobTitle" placeholder="Job Title" slot="profileProfValJobTitle">
                </div>
                <div class="fc-input-profile">
                    <label class="colorGray42 fw900" for="employer">Employer:</label>
                    <input class="colorGray42 fw300" type="text" name="employer" placeholder="Employeer Name" slot="profileProfValEmployer">
                </div>
            </div>
        </div>
    </div>
    <!-- Links -->
    <div class="fc-infoCont3">
        <h4 class="colorGray42 fw900 ttup">Links</h4>
        <hr>
        <div class="fc-inputProfile">
            <div class="fc-form-profile">
                <div class="fc-input-profile">
                    <label class="colorGray42 fw900" for="linkGitHub">GitHub:</label>
                    <input class="colorGray42 fw300" type="url" name="linkGitHub" placeholder="GitHub URL" slot="profileLinkGitHub">
                </div>
                <div class="fc-input-profile">
                    <label class="colorGray42 fw900" for="linkCodePen">CodePen:</label>
                    <input class="colorGray42 fw300" type="url" name="linkCodePen" placeholder="CodePen URL" slot="profileLinkCodePen">
                </div>
                <div class="fc-input-profile">
                    <label class="colorGray42 fw900" for="linkLinkedIn">LinkedIn:</label>
                    <input class="colorGray42 fw300" type="url" name="linkLinkedIn" placeholder="LinkedIn URL" slot="profileLinkLinkedIn">
                </div>
                <div class="fc-input-profile">
                    <label class="colorGray42 fw900" for="linkPortfolio">Portfolio:</label>
                    <input class="colorGray42 fw300" type="url" name="linkPortfolio" placeholder="Portfolio URL" slot="profileLinkPortfolio">
                </div>
                <div class="fc-input-profile">
                    <label class="colorGray42 fw900" for="linkResume">R&eacute;sum&eacute;  :</label>
                    <input class="colorGray42 fw300 resumeInput" type="text" name="linkResume" placeholder="R&eacute;sum&eacute;: (PDF format please)" slot="profileLinkResume">
                    <button class="btn btnFill greenNavButton uploadButton">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <!-- About -->
    <div class="fc-infoAbout">
        <h4 class="colorGray42 fw900 ttup">About</h4>
        <hr>
        <div class="fc-form-about">
            <div class="grid gutters half">
                <div class="cell">
                    <!-- <div class="fc-aboutCont"> -->
                        <textarea rows="8" cols="12" placeholder="Please enter Information About Yourself"><slot name="profileAboutUser"></slot></textarea>
                        <!-- slot="profileAboutUser" -->
                        <!-- <slot name="profileAboutUser" />  -->
                    <!-- </div> -->
                </div>
                <div class="cell">
                    <div class="fc-aboutCont">
                        <div class="fc-about">
                            <div class="fc-input-about">
                                <div class="fc-left">
                                    <label class="colorGray42 fw900" for="aboutYearsOfXP">Years of Experience:</label>
                                </div>
                                <div class="fc-right">
                                    <input class="colorGray42 fw300" type="number" name="aboutYearsOfXP" placeholder="Total Experience" slot="profileAboutUserYearsOfExperience">
                                </div>
                            </div>
                            <div class="fc-input-about">
                                <div class="fc-left">
                                    <label class="colorGray42 fw900" for="aboutTimeWithRT">Time with Recursive Thinking:</label>
                                </div>
                                <div class="fc-right">
                                    <input class="inputShort colorGray42 fw300" type="number" name="aboutTimeWithRTY" placeholder="Y" slot="profileAboutUserTimeWithRTYear">
                                    <label for="" class="colorGray42 fw900">Y</label>
                                    <input class="inputShort colorGray42 fw300" type="number" name="aboutTimeWithRTM" placeholder="M" slot="profileAboutUserTimeWithRTMonth">
                                    <label for="" class="colorGray42 fw900">M</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Professional Skills -->
    <div class="fc-skillCont">
        <h4 class="colorGray42 fw900 ttup">Professional Skills</h4>
        <hr>
        <div class="fc-form-skills">
            <div class="grid gutters half">
                <div class="cell">
                    <div class="fc-form-input">
                        <label for="skillProfessional" class="fw300 colorGray42">Search for Professional Skills:</label>
                        <input type="search" name="skillProfessional" placeholder="Find Professional Skill">
                    </div>
                </div>
                <div class="cell">
                    <div class="fc-skillItemCont">
                        <!-- <div class="fc-skillItem">
                            <h5 class="skillItem colorGray42 fw500">User Experience Design</h5>
                            <div class="skillItemDash"></div>
                            <h5 class="skillItemClose colorGreen fw500">X</h5>
                        </div> -->
                        <slot name="profileSkillProfessional"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Software Skills -->
    <div class="fc-skillCont">
        <h4 class="colorGray42 fw900 ttup">Software Skills</h4>
        <hr>
        <div class="fc-form-skills">
            <div class="grid gutters half">
                <div class="cell">
                    <div class="fc-form-input">
                        <label for="skillProfessional" class="fw300 colorGray42">Seach for Software Skills:</label>
                        <input type="search" name="skillProfessional" placeholder="Find Software Skill">
                    </div>
                </div>
                <div class="cell">
                    <div class="fc-skillItemCont">
                        <!-- <div class="fc-skillItem">
                            <h5 class="skillItem colorGray42 fw500">Sketch</h5>
                            <div class="skillItemDash"></div>
                            <h5 class="skillItemClose colorGreen fw500">X</h5>
                        </div> -->
                        <slot name="profileSkillSoftware"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Languages -->
    <div class="fc-skillCont">
        <h4 class="colorGray42 fw900 ttup">Languages</h4>
        <hr>
        <div class="fc-form-skills noBotPad">
            <div class="grid gutters half">
                <div class="cell">
                    <div class="fc-form-input">
                        <label for="skillProfessional" class="fw300 colorGray42">Search for Coding Languages:</label>
                        <input type="search" name="skillProfessional" placeholder="Find Coding Language">
                    </div>
                </div>
                <div class="cell">
                    <div class="fc-skillItemCont">
                        <!-- <div class="fc-skillItem">
                            <h5 class="skillItem colorGray42 fw500">HTML</h5>
                            <div class="skillItemDash"></div>
                            <h5 class="skillItemClose colorGreen fw500">X</h5>
                        </div> -->
                        <slot name="profileSkillLanguage"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="currentUserSkillProfessional">
    <div class="fc-skillItem">
        <h5 class="skillItem colorGray42 fw500"><slot name="skillItemProf"></h5>
        <div class="skillItemDash"></div>
        <h5 class="skillItemClose colorGreen fw500" slot="delSkillItemProf">X</h5>
        <!-- slot="delSkillItemProf" -->
    </div>
</template>

<template id="currentUserSkillSoftware">
    <div class="fc-skillItem">
        <h5 class="skillItem colorGray42 fw500"><slot name="skillItemSoft"></h5>
        <div class="skillItemDash"></div>
        <h5 class="skillItemClose colorGreen fw500">X</h5>
    </div>
</template>

<template id="currentUserSkillLanguage">
    <div class="fc-skillItem">
        <h5 class="skillItem colorGray42 fw500"><slot name="skillItemLang"></h5>
        <div class="skillItemDash"></div>
        <h5 class="skillItemClose colorGreen fw500">X</h5>
    </div>
</template>