/* 1920x1390 */

*{
    /* Narfel the Garthok */
}

body {
    overflow: visible;
}

.flex-container-nav {
    display: flex;
    align-items: center;
}

.flex-container-nav button {
    width: 200px;
    height: 55px;
    margin-left: 20px;
    border-radius: 10px;
    /* font */
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 1.2px;
}

.btn.btnFill, .btn.btnOutline:hover {
    border: 1px solid #00b371;
    background-color: #00b371;
    color: #ffffff;
}

.btn.btnOutline, .btn.btnFill:hover {
    border: 1px solid #00b371;
    background-color: #ffffff;
    color: #00b371;
}

.modal {
    /* dont display */
    display: none;
    /* sit tight */
    position: fixed;
    /* but above all */
    z-index: 1;
    /* color - black with trans*/
    background-color: rgba(0, 0, 0, .4);
    /* size */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* if over then scroll */
    overflow: auto;
}

/* .flex-container-modalContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
} */

.modalContent {
    /* bit of padding and centered */
    margin: 15% auto;
    padding: 50px 25px;
    /* background color */
    background-color: #ffffff;
    /* size */
    width: 75%;
    /* font style/color */
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
}

.modalHR {
    border-top: 0;
    border-bottom: 2px solid #c6c6c6;
    margin: 1rem 10%;
    width: 80%;
}

.giveMeSpaceModal {
    padding-top: 50px;
}

.modalContent h2 {
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: 2.4px;
    text-align: center;
}

.flex-container-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* text */
    font-size: 2.2rem;
    letter-spacing: 2.2px;
    margin-bottom: 50px;
}

.flex-container-input label {
    width: 25%;
    text-align: right;
    font-weight: 500;
}

.flex-container-input input {
    margin: 0 0 0 10px;
    width: 40%;
    /* text */
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 2.2px;
    padding: .6rem 0 .6rem .6rem;
    border: solid 1px #979797
}

.modalContent form .flex-container-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-items: center; */
}

.modalContent form .btn {
    width: 400px;
    border: 2px solid #00b371;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 30px;
}

.modalContent form .btn.btnHeadGreen {
    background-color: #00b371;
    color: #ffffff;
}

.modalContent form .btn.btnHeadGreen:hover {
    background-color: #ffffff;
    color: #00b371;
}

.bannerImage {
    /* background-image: url("./public/images/banner.jpg"); */
    background-image: url("../public/images/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.bannerImageTextBox h1 {
    font-family: 'Abel', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    font-size: 5.6rem;
    letter-spacing: 4.8px;
    font-weight: lighter;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 300px; */
    padding: 150px;
}

.section h4 {
    /* couldnt get avenir */
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1.4px;
    color: #000000;
    margin: .25rem 0;
}

.section h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin: .5rem 0;
}

.description {
    background-color: #f6f6f6;
}

.section.description p {
    width: 75%;
    text-align: center;
}

.section.description p, .tile.people p {
    font-family: 'Nunito Sans';
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #000000;
}

.section.description p span {
    font-family: 'Nunito Sans';
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 2.8px;
    color: #000000;
}

.section.signUp button {
    padding: 12px 135px;
    margin: 30px 0 0 0;
    border: 1px solid #00b371;
    border-radius: 10px;
    background-color: #00b371;
    color: #ffffff;
    /* text */
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 2px;
}

.section.signUp button:hover {
    padding: 12px 135px;
    margin: 30px 0 0 0;
    border: 1px solid #00b371;
    border-radius: 10px;
    background-color: #ffffff;
    color: #00b371;
    /* text */
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 2px;
}

.flex-container-people {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.tile {
    width: 33.33%;
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tile.people img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.tile.people h3 {
    font-family: 'Nunito Sans';
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 2.2px;
    color: #000000;
    margin: 2rem 0 .25rem 0;
}

.flex-container-famousQuote {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.section.famousQuote img {
    height: 425px;
    width: auto;
    border-radius: 50%;
    padding: 0 60px;
}

.section.famousQuote {
    background-color: #2d3134;
}

.flex-container-famousQuote p {
    color: #ffffff;
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2.2px;
    padding: 0 100px;
}