<template id="page">
<section id="interviewPrepHTML">
        <!-- <h1>interview prep</h1> -->
        <div class="content container">
            <div class="grid full">
                <div class="cell">
                    <article class="submitInterviewQuestion card">
                        <h4 class="h4Title fw300 colorBlack">Have you come across an interview question you would like to share?</h4>
                        <h2 class="h2Title fw300 colorBlack">Submit an Interview Question</h2>
                        <button id="btnSubmitInterviewQuestion" class="btn btnFill signUp btnMarginTop">Submit Question</button>
                    </article>
                </div>
            </div>
            <!-- START - question modal -->
            <section>
                <div id="modalSubmitInterviewQuestion" class="modal">
                    <div class="modalContent card">
                        <div class="fc-modal">
                            <h2 class="h2ModalTitle colorBlack fw300">Submit an Interview Question</h2>
                            <hr class="modalHR">
                            <!-- <div class="giveMeSpaceModal"></div> -->
                            <form action="">
                                <div class="fc-modalForm">
                                    <div class="fc-modalInput">
                                        <label class="labelSm colorGray42 fw500" for="questionTitle">Question Title: </label>
                                        <input class="colorGray42 fw300" type="text" name="questionTitle" placeholder="Title">
                                    </div>
                                    <div class="fc-modalInput">
                                        <label class="labelSm colorGray42 fw500" for="questionDescription">Question Description:</label>
                                        <textarea rows="8" cols="12" class="colorGray42 fw300" type="text" name="questionDescription" placeholder="Enter Question Description Here"></textarea>
                                    </div>
                                    <div class="fc-modalInput">
                                        <label class="labelSm colorGray42 fw500" for="questionTags">Tag profession, skills & languages:</label>
                                        <input class="colorGray42 fw300" type="text" name="questionTags" placeholder="Tags">
                                    </div>
                                </div>
                                <hr class="modalHR">
                                <button class="btn btnFill colorWhiteff fw500">Submit Question</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END - end question modal -->
            
            <div class="cardContainer">
                <!-- START - search and filter bars -->
                <div class="grid gutters half">
                    <div class="cell">
                        <article class="sortBar content">
                            
                        </article>
                    </div>
                    <div class="cell">
                        <article class="filterBar content">
                            
                        </article>
                    </div>
                </div>
                <!-- END - search and filter bars -->
                <!-- modal for answer -->
                <section>
                    <div id="modalAnswerInterviewQuestion" class="modal">
                        <div class="modalContent card">
                            <div class="fc-modal">
                                <h2 class="h2ModalTitle colorBlack fw300">Reply to Interview Question</h2>
                                <hr class="modalHR">
                                <!-- <div class="giveMeSpaceModal"></div> -->
                                <form action="">
                                    <div class="fc-modalForm">
                                        <h4 class="h4TitleInterviewQuestion colorGrayb9 fw900">Highlight Table Rows:</h4>
                                        <hr class="modalHR">
                                        <div class="fc-pLesson">
                                            <p class="fw300">Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                                            <br><br>
                                            Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                                            <!-- <br><br>
                                            Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. -->
                                            </p>
                                        </div>
                                        <hr class="modalHR">
                                        <div class="fc-interviewQuestionTags">
                                            <div class="tagInterviewQuestion colorGray42 fw500">Front End Development</div>
                                            <div class="tagInterviewQuestion colorGray42 fw500">JavaScript</div>
                                            <div class="tagInterviewQuestion colorGray42 fw500">HTML</div>
                                            <div class="tagInterviewQuestion colorGray42 fw500">CSS</div>
                                        </div>
                                        <hr class="modalHR">
                                        <div class="fc-textAreaModalAnswer">
                                            <label class="labelSm colorGray42 fw500" for="questionDescription">Your Reply:</label>
                                            <textarea rows="8" cols="12" class="colorGray42 fw300" type="text" name="questionDescription" placeholder="Enter Your Answer Here"></textarea>
                                        </div>
                                    </div>
                                    <hr class="modalHR">
                                    <button class="btn btnFill colorWhiteff fw500">Submit Answer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="grid gutters full">
                    <slot name="interviewPrep">
                </div>
            </div>
        </div>
    </section>
</template>
<!-- START - template for question card -->
<template id="tempIdInterviewQuestion">
    <div class="cell">
        <article class="interviewQuestion card">
            <div class="fc-interviewQuestion-pad-top">
                <div class="fc-interviewQuestion-title">
                    <h4 class="h4TitleInterviewQuestion colorGrayb9 fw900"><slot name="title" /></h4>
                    <h5 class="h5DateInterviewQuestion colorGray64 fw300"><slot name="date" /></h5>
                </div>
                <hr>
                <div class="fc-pLesson">
                    <p class="fw300">
                        <slot name="description" />
                    </p>
                </div>
                <hr>
            </div>
            <div class="fc-interviewQuestionTags">
                <slot name="questionCategories"></slot>
            </div>
            <div class="fc-interviewQuestion-pad-bot">
                <hr>
                <!-- turn this on to see answers - #1 of 2 -->
                <div class="fc-replies open">
                <!-- turn this on to NOT see answers - #1 of 2 -->
                <!-- <div class="fc-replies"> -->
                    <h3 class="h3ReplyCount colorGreen fw900">
                        <slot name="questionAnswersCount"/>
                    </h3>
                        <!-- turn this on to see answers #2 of 2 -->
                        <div class="answers" style="display: block;">
                        <!-- turn this on to NOT see answers #2 of 2 -->
                        <!-- <div class="answers"> -->
                            <slot name="questionAnswers"></slot>
                        </div>
                        <button class="btn btnFill fw500" type="submit">Answer Question</button>
                    </div>
                </div>
        </article>
    </div>
</template>
<!-- END - template for question card -->
<!-- START - template for question card categories -->
<template id="tempIdInterviewQuestionCategory">
    <div class="tagInterviewQuestion colorGray42 fw500"><slot name="category"></slot></div>
</template>
<!-- END - template for question card categories -->
<!-- START - template for question answers -->
<template id="tempIdInterviewQuestionAnswer">
    <div class="fc-answers">
        <div class="fc-author">
            <h5 class="colorBlack fw900">Josh Smith</h5>
            <h5 class="h5TitleDate colorGray55 fw300"><slot name="submitted" /></h5>
        </div>
        <p class="colorGray55 fw300"><slot name="description" /></p>
        <hr>
    </div>
</template>
<!-- END - template for question answers -->