#recursiveDirectoryHTML {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #eeeeee;
}
#recursiveDirectoryHTML hr {
    width: 80%;
    border-top: 0;
}
#recursiveDirectoryHTML .devName {
    font-size: 2rem;
    margin-bottom: 0;
}
#recursiveDirectoryHTML .devTitle {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 0;
}
#recursiveDirectoryHTML .devLocation {
    font-size: 1.2rem;
    font-weight: 100;
}
#recursiveDirectoryHTML .devPicture {
    border-radius: 50%;
}
#recursiveDirectoryHTML .directory-card {
    text-align: center;
    flex: 0 0 5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #c6c6c6;
    background-color: #ffffff;
    margin: 3rem;
}


