<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming Lessons</title>
</head>
<body>
<section id="recursiveDirectoryHTML">
    <article class="directory-card">
        <img class="devPicture" src="./public/images/porg_sq.jpeg" alt="a developers picture">
        <h2 class="devName">Porg Dev</h2>
        <hr>
        <h3 class="devTitle">Web Developer</h3>
        <h4 class="devLocation">Seattle, WA</h4>
    </article>
    <article class="directory-card">
        <img class="devPicture" src="./public/images/porg_sq.jpeg" alt="a developers picture">
        <h2 class="devName">Porg Dev</h2>
        <hr>
        <h3 class="devTitle">Web Developer</h3>
        <h4 class="devLocation">Seattle, WA</h4>
    </article>
    <article class="directory-card">
        <img class="devPicture" src="./public/images/porg_sq.jpeg" alt="a developers picture">
        <h2 class="devName">Porg Dev</h2>
        <hr>
        <h3 class="devTitle">Web Developer</h3>
        <h4 class="devLocation">Seattle, WA</h4>
    </article>
    <article class="directory-card">
        <img class="devPicture" src="./public/images/porg_sq.jpeg" alt="a developers picture">
        <h2 class="devName">Porg Dev</h2>
        <hr>
        <h3 class="devTitle">Web Developer</h3>
        <h4 class="devLocation">Seattle, WA</h4>
    </article>
</section>
</body>
</html>

