<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upcoming Lessons</title>
    </head>
<body  >
<section id="recursiveDirectoryHTML">
    <div class="grid gutters full">
        <div class="cell">
            <button class="btn btnFill btnTemp" onclick="buildRecursiveDirectory()">Click Me</button>
        </div>
    </div>
    <br><br>
    <div id="gridContainer" class="grid cols-3" >
        <!-- <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar1.png" alt="a developers picture">
                <div class="fc-text-group">
                    <a href="./templates/viewProfile.html" target="_blank"><h2 class="devName colorGray42 fw500">Porg Dev1</h2></a>
                    <hr>
                    <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                    <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
                </div>
            </article>
        </div> -->
    </div>
</section>
<!-- <script src="../scripts/global.js"></script> -->
<!-- <script src="recursiveDirectory.js"></script> -->
<script src="recursiveDirectory.js"></script>
</body>
</html>

