<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upcoming Lessons</title>
        
    </head>
<body >
<section id="recursiveDirectoryHTML">
    <div id="gridContainer" class="grid cols-3">
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar1.png" alt="a developers picture">
                <div class="fc-text-group">
                    <a href="./templates/viewProfile.html" target="_blank"><h2 class="devName colorGray42 fw500">Porg Dev1</h2></a>
                    <hr>
                    <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                    <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
                </div>
            </article>
        </div>
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar2.png" alt="a developers picture">
                <h2 class="devName colorGray42 fw500">Porg Dev2</h2>
                <hr>
                <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
            </article>
        </div>
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar3.png" alt="a developers picture">
                <h2 class="devName colorGray42 fw500">Porg Dev3</h2>
                <hr>
                <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
            </article>
        </div>
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar4.png" alt="a developers picture">
                <div class="fc-text-group">
                    <h2 class="devName colorGray42 fw500">Porg Dev4</h2>
                    <hr>
                    <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                    <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
                </div>
            </article>
        </div>
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar5.png" alt="a developers picture">
                <h2 class="devName colorGray42 fw500">Porg Dev5</h2>
                <hr>
                <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
            </article>
        </div>
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar6.png" alt="a developers picture">
                <h2 class="devName colorGray42 fw500">Porg Dev6</h2>
                <hr>
                <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
            </article>
        </div>
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar1.png" alt="a developers picture">
                <div class="fc-text-group">
                    <h2 class="devName colorGray42 fw500">Porg Dev7</h2>
                    <hr>
                    <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                    <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
                </div>
            </article>
        </div>
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar2.png" alt="a developers picture">
                <h2 class="devName colorGray42 fw500">Porg Dev8</h2>
                <hr>
                <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
            </article>
        </div>
        <div class="cell">
            <article class="directory-card">
                <img class="devPicture" src="./public/images/avatar3.png" alt="a developers picture">
                <h2 class="devName colorGray42 fw500">Porg Dev9</h2>
                <hr>
                <h3 class="devTitle colorGray42 fw300">Web Developer</h3>
                <h4 class="devLocation colorGray42 fw300 ttup">Seattle, WA</h4>
            </article>
        </div>
    </div>
</section>
<!-- <script src="../scripts/global.js"></script> -->
<!-- <script src="recursiveDirectory.js"></script> -->
<script src="recursiveDirectory.js"></script>
</body>
</html>

