<template id="page">
    <section id="upcomingLessonsHTML">
        <!-- <h1>Upcoming Lessons</h1> -->
        <div class="content container">
            <div class="grid gutters third">
                <div class="cell">
                    <article id="upComingLessonsCard" class="card">
                        <h4 class="h4CardTitle colorGray42 fw900 ttup">Upcoming Lessons</h4>
                        <hr>
                        <slot name="upcomingLessons"></slot>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="h4CardTitle colorGray42 fw900 ttup">Lesson Breakdown</h4>
                        <hr>
                        <div class="fc-lessonButtons">
                            <div class="lessonButton colorWhiteff fw500 btnColorGreenBright">Attending</div>
                            <div class="lessonButton colorWhiteff fw500 btnColorGreenForest">Maybe</div>
                            <div class="lessonButton colorWhiteff fw500 btnColorGreenDark">Not Attending</div>
                        </div>
                        <hr>
                        <div class="fc-lessonDate">
                            <div class="fc-dateRow contVertCenter">
                                <h1 class="h1Date colorGreen fw300">25</h1>
                                <div class="fc-dateRowMonthYear">
                                    <h4 class="h4MonthYear colorBlack fw500 ttup">November</h4>
                                    <h4 class="h4MonthYear colorBlack fw500 ttup">2017</h4>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="fc-lessonTitleDescription">
                            <h4 class="h4LessonTitle colorGray66 fw300">Designing with A-Frame VR</h4>
                            <p>Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                                    <br><br>
                                    Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                                    <br><br>
                                    Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space.
                                    <!-- <br><br>
                            Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. Words, words, words and more words go right here in this space. -->
                            </p>
                        </div>
                        <hr>
                        <div class="fc-taughtBy">
                            <h4 class="h4LessonTitle colorBlack fw300 ttup">Taught by:</h4>
                            <div class="fc-taughtByThumbs">
                                <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                <img class="avatarThumbRound" src="public/images/avatar2.png" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="fc-attending">
                            <h4 class="h4LessonTitle colorBlack fw300 ttup">Attending:</h4>
                            <div class="fc-attendingThumbs">
                                <div class="thumbAndName">
                                    <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                    <h4 class="h4LessonTitle marginLeft14 colorBlack fw300">John Doe</h4>
                                </div>
                                <div class="thumbAndName">
                                    <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                    <h4 class="h4LessonTitle marginLeft14 colorBlack fw300">John Doe</h4>
                                </div>
                                <div class="thumbAndName">
                                    <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                    <h4 class="h4LessonTitle marginLeft14 colorBlack fw300">John Doe</h4>
                                </div>
                                <div class="thumbAndName">
                                    <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                    <h4 class="h4LessonTitle marginLeft14 colorBlack fw300">John Doe</h4>
                                </div>
                                <div class="thumbAndName">
                                    <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                    <h4 class="h4LessonTitle marginLeft14 colorBlack fw300">John Doe</h4>
                                </div>
                                <div class="thumbAndName">
                                    <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                    <h4 class="h4LessonTitle marginLeft14 colorBlack fw300">John Doe</h4>
                                </div>
                                <div class="thumbAndName">
                                    <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                    <h4 class="h4LessonTitle marginLeft14 colorBlack fw300">John Doe</h4>
                                </div>
                                <div class="thumbAndName">
                                    <img class="avatarThumbRound" src="public/images/avatar1.png" alt="">
                                    <h4 class="h4LessonTitle marginLeft14 colorBlack fw300">John Doe</h4>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>

<template id="lessonSummary">
    <div class="fc-upComingLesson">
        <!-- <div slot=""> -->
        <div class="fc-dateRowTitle Star">
            <div class="fc-dateRow contVertCenter">
                <h1 class="h1Date colorGreen fw300">
                    <slot name="day"></slot>
                </h1>
                <div class="fc-dateRowMonthYear">
                    <h4 class="h4MonthYear colorBlack06 fw500 ttup">
                        <slot name="month"></slot>
                    </h4>
                    <h4 class="h4MonthYear colorBlack06 fw500 ttup">
                        <slot name="year"></slot>
                    </h4>
                </div>
                <div class="fc-star">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <h4 class="h4LessonTitle negMarg colorGray66 fw300">
                <slot name="title"></slot>
            </h4>
        </div>
    </div>
    <!-- need to figure out a way to turn this off on the last one -->
    <hr>
</template>

<template id="lessonSummary_none">
    <div class="alert status">
        <div class="fc-alert">
            <h5>Upcoming Lession Information Unavailable</h5>
            <h6>X</h6>
        </div>
    </div>
</template>
