<template id="page">
    <section id="voteForLessonHTML">
    <div class="content container">
        <div class="grid full">
            <div class="cell">
                <article class="submitLesson card">
                    <h4 class="h4Title fw300 colorBlack">Want to learn something specific? Have something to teach?</h4>
                    <h2 class="h2Title fw300 colorBlack">Submit a lesson request</h2>
                    <button id="btnSubmitLesson" class="btn btnFill signUp btnMarginTop" >Submit Lesson</button>
                </article>
            </div>
        </div>
        <section>
            <div id="modalSubmitLesson" class="modal">
                <div class="modalContent card">
                    <div class="fc-modal">
                        <h2 class="h2ModalTitle colorBlack fw300">Submit a lesson request</h2>
                        <hr class="modalHR">
                        <!-- <div class="giveMeSpaceModal"></div> -->
                        <form action="">
                            <div class="fc-form">
                                <div class="fc-input2">
                                    <label class="labelSm colorGray42 fw500" for="email">Lesson title: </label>
                                    <input class="colorGray42 fw300" type="text" name="lessonTitle" placeholder="Email">
                                </div>
                                <div class="fc-input2">
                                    <label class="labelSm colorGray42 fw500" for="password">Description:</label>
                                    <textarea rows="8" cols="12" class="colorGray42 fw300" type="text" name="lessonDescription" placeholder="Enter Your Description Here"></textarea>
                                </div>
                                <div class="fc-input2">
                                    <label class="labelSm colorGray42 fw500" for="passwordConfirm">Taught by:</label>
                                    <input class="colorGray42 fw300" type="text" name="lessonTaughtBy" placeholder="Teacher Name">
                                </div>
                            </div>
                            <hr class="modalHR">
                            <button class="btn btnFill colorWhiteff fw500" >Submit Lesson</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="cardContainer">
            <div class="grid gutters cols2">
                <slot name="voteForLesson"></slot>
            </div>
        </div>
    </div>
    </section>
</template>

<template id="displayALesson">
    <div class="cell">
        <article class="content card">
            <h3 class="h3TitleLesson colorBlack fw500">
                <slot name="title"></slot>
            </h3>
            <hr>
            <div class="fc-pLesson">
                <p class="fw300">
                    <slot name="description"></slot>
                </p>
            </div>
            <hr>
            <div class="fc-taughtBy">
                <h4 class="h4LessonTitle ucMargin colorBlack fw300 ttup">Taught by:</h4>
                <div class="fc-taughtByThumbs">
                    <slot name="lessonTeachers"></slot>
                </div>
            </div>
            <hr>
            <div class="fc-votes">
                <h3 class="h3VoteCount colorGreen fw900">
                    <slot name="lessonVotes"></slot>
                </h3>
                <slot name="hasCurrentUserVoted"></slot>
            </div>
        </article>
    </div>
</template>

<template id="displayTaughtByLessons">
    <img class="avatarThumbRound" slot="imgAttrs" />
</template>