/* body { */
  /* margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

/* code { */
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
/* } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

/* ============================================ */
/*                  Variables                   */
/* ============================================ */

:root {
  --green-00b371: #00b371;
  --green-006842: #006842;
  --green-2d3134: #2d3134;
  --white-ff: #ffffff;
  --grey-4f: #4f4f4f;
  --grey-f6: #f6f6f6;
  --grey-55: #555555;
  --grey-64: #646464;
  --grey-66: #666666;
  --grey-06: #060606;
  --black-00: #000000;
  --grey-2d3134: #2d3134;
  --grey-424041: #424041;
  --grey-ee: #eeeeee;
  --grey-cc: #cccccc;
  --grey-c6: #c6c6c6;
  --grey-b9: #b9b9b9;
  --grey-81: #818181;
  --grey-97: #979797;
  --orange-ff9a23: #ff9a23;
  --btn-brdr-thickness: .1rem;
  --input-brdr-thickness: .1rem;
  --brdr-profile-thickness: .1rem;
  --warn: #ff9a23;
  --error: #da0000;
}

/* Base Font Size for all rem values */

html {
  font-size: 10px;
  color: var(--black-00);
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

/* ============================================ */
/*                     Header                   */
/* ============================================ */

header {
  position: fixed;
  top: 0;
  width: 100%;
  /* padding: 2rem; */
  padding: 1.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--white-ff);
  z-index: 10;
}

header img {
  height: 4.5rem;
  width: auto;
}

.bannerImage {
  /* background-image: url("../assets/images/banner.jpg"); */
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.bannerImage h1 {
  font-family: 'Abel', sans-serif;
  /* color: white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-size: 8rem; */
  /* letter-spacing: 4.8px; */
  font-weight: lighter;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}

.height100P {
  height: 100%
}

.height75P {
  height: 75%
}

.height50P {
  height: 50%
}

.height25P {
  height: 25%
}

.width100P {
  width: 100%;
}

.width90P {
  width: 90%;
}

.width85P {
  width: 85%;
}

.width80P {
  width: 80%;
}

.width70P {
  width: 70%;
}

.width65P {
  width: 65%;
}

.width50P {
  width: 50%;
}

.width35P {
  width: 35%;
}

.width30P {
  width: 30%;
}

.width20P {
  width: 20%;
}

.width15P {
  width: 15%;
}

.center {
  margin-left: 10%;
}

.fc-logo {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.fc-nav {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.fc-search {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.secJoinRecursiveThinking {
  padding: 15rem 1rem;
}

.secWhatIsRecursiveThinking {
  padding: 13rem 1rem;
  background-color: var(--grey-f6)
}

.secWhatIsRecursiveThinking p {
  width: 75%;
}

.secThreePeople {
  background-color: var(--grey-ee);
  padding: 10rem 1rem;
}

.contentPersonQuote {
  padding: 4rem 6rem;
}

.contentPersonQuote p {
  max-width: 40rem;
}

.secCarouselQuotes {
  background-color: var(--grey-2d3134);
  padding: 15rem 7rem;
  position: relative;
}

.slider {
  position: relative;
}

.rightArrow,
.leftArrow {
  position: absolute;
  top: 50%;

  z-index: 9999;
  color: var(--white-ff);
  opacity: .25;
}

.rightArrow {
  right: 2rem;
}

.leftArrow {
  left: 2rem;
}

.rightArrow i,
.leftArrow i {
  font-size: 6rem;
}

.rightArrow:hover,
.leftArrow:hover {
  color: var(--green-00b371);
  transition: transform ease-in .2s;
  transform: scale(1.25);
  opacity: 1;
}

.dot {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: var(--white-ff);
  opacity: .25;
  margin-left: 1rem;
}

.dot.selected {
  opacity: 1;
}

.dot:first-of-type {
  margin-left: 0;
}

.c-quote {
  padding: 0 6rem;
  text-align: justify;
}

/* ============================================ */
/*                Profile Setup                 */
/* ============================================ */

fieldset {
  min-width: -webkit-min-content;
  border-width: 0;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

fieldset {
  margin-top: 8rem;
}

.grid.grid--1of4>.grid-cell>fieldset:nth-of-type(1),
.modal>.modalCard>fieldset,
.grid>.grid-cell>.noMargin {
  margin-top: 0;
}

legend {
  border-width: 0px;
  border-style: none;
  border-color: initial;
  border-image: none;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

.grid-cell>.avatarL {
  position: relative;
  z-index: 0;
}

.caption {
  width: var(--L);
  padding: 2rem 4rem;
  position: relative;
  z-index: 1;

  margin: -6.25rem auto 0 auto;

  background-color: var(--white-ff);
  box-shadow: 0 0.05rem .4rem 0 rgba(0, 0, 0, 0.5);
  border: solid 1px var(--grey-c6);
}

.caption > label > span {
  color: var(--grey-424041);
}

.caption>label>span:hover {
  color: var(--green-00b371);
}

.fc-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fc-fieldset>.fc-field:first-child {
  margin-top: 2rem;
}

.fc-field-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.8rem;
}

.fieldsetSkills {
  /* margin-top: 5rem; */
  margin: 2.5rem 0 5rem 0;
}

.fieldsetSkills:first-of-type{
  margin-top: 5rem;
}

.fc-fieldset>.fc-field {
  padding: 0 5%;
  width: 100%;
}

fieldset>.grid>.grid-cell>.fc-form-input:first-of-type {
  margin-top: 3.8rem;
}

.fc-field-row>label,
.fc-field-row-full>label,
.fc-form-input-full>label,
.dateField > div > label {
  display: flex;

  font-size: 2rem;
  color: var(--grey-424041);
  font-weight: 600;
  letter-spacing: .14rem;
}

.fc-field-row>label,
.fc-form-input-full>label {
  justify-content: flex-end;
}

.fc-field-row-full>label {
  justify-content: flex-start;
}

.fc-field>.fc-field-row>input,
.fc-field>.fc-field-row-full>input,
.fc-field>.fc-field-row-full>.react-tags,
.fc-field>.fc-field-row-full>textarea,
.fc-form-input>.fc-form-input-with-button>input,
.fc-form-input-full>input,
.fc-form-input-col>input,
.fc-form-input-col>.react-tags,
fieldset>.grid>.grid-cell>textarea,
fieldset>.grid>.grid-cell>.width100P>textarea {
  display: flex;
  justify-content: flex-start;

  padding: 1rem 1.5rem;

  border: var(--input-brdr-thickness) solid var(--grey-97);

  font-size: 1.8rem;
  color: var(--grey-06);
  font-weight: 500;
}

.fc-form-input-col>.react-tags {
  padding: 0 0 0 1rem;
  margin-top: 2rem;
}

/* .fc-field>.fc-field-row-full>.react-tags {
  
} */

.fc-form-input-col>.react-tags>.react-tags__search {
  
}

.fc-field>.fc-field-row-full.input-invalid>input,
.fc-field>.fc-field-row.input-invalid>input,
fieldset>.grid>.grid-cell>.width100P.input-invalid>textarea {
  box-shadow: 0 0 .125rem .025rem var(--error);
  border: var(--input-brdr-thickness) solid var(--error);
  outline: var(--input-brdr-thickness) solid var(--error);
}

.fc-field>.fc-field-row-full.input-warning>input,
.fc-field>.fc-field-row.input-warning>input {
  box-shadow: 0 0 .125rem .025rem var(--warn);
  border: var(--input-brdr-thickness) solid var(--warn);
  outline: var(--input-brdr-thickness) solid var(--warn);
}

.fc-form-input-full>input {
  padding: 1rem 0 1rem 2rem;
}

.fc-field-row>input,
.fc-field>.fc-field-row-error>.error>div,
.fc-field>.fc-field-row-error>.warn>div {
  margin-left: 3.5rem;
}

.fc-field>.fc-field-row-error>.error>div,
.fc-field>.error>div,
.grid>.grid-cell>.fc-field-row-error>.error>div {
  color: var(--error);
  margin-top: 1rem;
}

.fc-field>.fc-field-row-error>.warn>div {
  color: var(--warn);
  margin-top: 1rem;
}

/* .fc-field>.error>div, */
/* .grid>.grid-cell>.fc-field-row-error>.error>div */

/* .fc-field-row > input {
  width: 80%;
} */

/* .fc-field-row-full > input {
  width: 100%;
} */

.fc-form-input>.short {
  width: 60%;
  margin-left: 3.5rem;
}

.fc-form-input>.fc-form-input-with-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin-left: 3.5rem; */
}

.fc-form-input-col {
  display: flex;
  flex-direction: column;
}

.fc-form-input-col>input {
  width: 65%;
}

.fc-form-input>.fc-form-input-with-button>input {
  margin-left: 3.5rem;
  width: 85%;
}

.fc-form-input>.fc-form-input-with-button>button {
  width: 15%;
}

fieldset>.grid>.grid-cell>div>textarea,
.fc-field>.fc-field-row-full>textarea {
  width: 100%;
  resize: none;

  padding: 1rem 2rem;
  /* white-space: pre-line; */
}

.fc-about-exp {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.fc-form-input-full {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-top: 4rem;
}

.fc-form-input-full:first-of-type {
  margin-top: 0rem;
}

.fc-form-input-full>label {
  padding-left: 2rem;
  text-align: right;
}

.fc-form-input-full>.input-30P {
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;
  width: 30%;
  margin-left: 3.5rem;
}

.fc-noSkillMessage {
  text-align: center;
  padding: 7.5rem 4rem 2.5rem 4rem
}

.fc-fieldset>.fc-field>.fc-field-row>input[type="date"]::before {
  font-size: 1.8rem;
  color: var(--grey-cc);
  font-weight: 300;
  content: attr(placeholder);
}

.fc-fieldset>.fc-field>.fc-field-row>input[type="date"] {
  font-size: 1.8rem;
  color: var(--white-ff);
  /* color: var(--grey-424041); */
  font-weight: 300;
  padding: 1rem 0 1rem 2rem;
}

.fc-fieldset>.fc-field>.fc-field-row>input[type="date"]:focus {
  color: #666666;
}

.fc-fieldset>.fc-field>.fc-field-row>input[type="date"]:focus::before {
  content: "" !important;
}

.fc-fieldset>.fc-field>.fc-field-row>input[type="date"]::placeholder {
  font-size: 1.8rem;
  color: var(--grey-cc);
  font-weight: 300;
}

input[type=email]:focus,
input[type=date]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=url]:focus,
fieldset>.grid>.grid-cell>textarea:focus,
fieldset>.grid>.grid-cell>div>textarea:focus,
.fc-field>.fc-field-row-full>textarea:focus {
  box-shadow: 0 0 .125rem .025rem var(--green-00b371);
  border: var(--input-brdr-thickness) solid var(--green-00b371);
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: var(--input-brdr-thickness) solid var(--grey-97);
  -webkit-text-fill-color: var(--grey-06);
  -webkit-box-shadow: 0 0 0px 1000px rgb(247, 247, 247) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.inputSearch {
  padding: .75rem 1.5rem .4rem 1.5rem;
  border-radius: 2rem;
  border: .1rem solid #979797;
  font-size: 1.6rem;
  text-align: left;
}

.fullBarSave {
  background-color: var(--green-00b371);
  padding: 5rem 2rem 7rem 2rem;
}

.mainContainer {
  margin-bottom: 75px;
}

.avatarTip {
  position: relative;
  display: inline-block;
}

.avatarTip a img:hover {
  opacity: .5;
}

.avatarTip .avatarTipText {
  visibility: hidden;
  padding: 1rem 1rem;
  position: absolute;
  z-index: 1;
  text-align: center;
  color: var(--white-ff);
  background-color: var(--grey-2d3134);


  border-radius: 1rem;
  top: 105%;
  left: 50%;
  margin-left: -50%;
}

.avatarTip .avatarTipText::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -.5rem;
  border-width: .5rem;
  border-style: solid;
  border-color: transparent transparent var(--grey-2d3134) transparent;
}

.avatarTip:hover .avatarTipText {
  visibility: visible;
}

/* ============================================ */
/*                     Sidebar                   */
/* ============================================ */

.wrapper {
  width: 100%;
}

.navWrapper {
  /* position: fixed; */
  width: 100%;
  
  /* top: 8.65rem; */
  /* left: 0;/ */
  /* width: 18.5%; */
  /* height: 100%; */
  /* minus header and footer */
  /* height: calc(100% - 13.85rem); */
  background-color: var(--grey-2d3134);
  box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  /* margin-bottom: 7.5rem; */
}

.contentWrapper {
  /* position: fixed; */
  /* top: 8.65rem; */
  /* left: 18.5%; */
  /* width: 81.5%; */
  width: 100%;
  /* minus header and footer */
  /* height: calc(100% - 13.85rem); */
  /* height: 100%; */
  background-color: var(--grey-ee);
  overflow-y: auto;
  /* padding: 1.5rem; */
}

.contentFullWrapper {
  /* position: fixed; */
  /* top: 8.65rem; */
  /* left: 0; */
  width: 100%;
  /* minus header and footer */
  /* height: calc(100% - 13.85rem); */
  /* height: 100%; */
  background-color: var(--grey-ee);
  overflow-y: auto;
}

.up {
  position: relative;
  bottom: 0rem;
  height: 100%;
  width: 100%;
}

.content {
  padding: 1.5rem;
  /* margin: 1.5rem; */
  /* overflow-y: auto; */
}

.contentHome {
  background-color: var(--grey-ee);
}

.contentList {
  padding: 1.5rem;
}

/* .contentList {
  padding: 1.5rem;
} */

.dropdown {
  padding: 0;
}

.fc-devInfo {
  margin: 3.7rem 0 3.5rem 0;
}

.devName {
  color: var(--white-ff);
}

/* .devName:hover {
  color: var(--green-00b371);
} */

.sidebarImage {
  margin: 0 1rem 1.7rem 1rem;
}

.sidebar>.sidebarLinksContainer>a {
  text-decoration: none;
}

.sidebar>.sidebarLinksContainer>a>.sidebar-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  border-top: .0rem solid var(--grey-66);
  border-bottom: .01rem solid var(--grey-66);
}

.sidebar>.sidebarLinksContainer>a>.sidebar-item:hover {
  background-color: var(--green-00b371);
  cursor: pointer;
  border-top: .0rem solid var(--green-00b371);
  border-bottom: .01rem solid var(--green-00b371);
}

.sidebar>.sidebarLinksContainer>.active {
  background-color: var(--green-00b371);
  cursor: pointer;
  border-top: .0rem solid var(--green-00b371);
  border-bottom: .01rem solid var(--green-00b371);
}

.sidebarLinksContainer>a:nth-child(1) {
  border-top: .01rem solid var(--grey-66);
}

.sidebar article span {
  color: #ffffff;
}

.card,
.cardNoPadding {
  background-color: var(--white-ff);
  box-shadow: 0 0.05rem .4rem 0 rgba(0, 0, 0, 0.5);
  border: solid 1px var(--grey-c6);
  margin: 1.5rem;
}

.card {
  padding: 2.2rem 3rem;
}

.profileSetup,
.profileEdit,
.lessonCreate,
.lessonEdit {
  background-color: var(--white-ff);
  box-shadow: 0 0.05rem .4rem 0 rgba(0, 0, 0, 0.5);
  border: solid 1px var(--grey-c6);
  padding: 8rem 5rem;
  /* already 1.5rem so 3 for 4.5rem total */
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.profileSetup {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.profileEdit {
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.cardFull {
  background-color: var(--white-ff);
  box-shadow: 0 0.05rem .4rem 0 rgba(0, 0, 0, 0.5);
  padding: 7rem 0;
}

.barFull {
  box-shadow: 0 0.05rem .4rem 0 rgba(0, 0, 0, 0.5);
}

.bgColorDarkGreen {
  background-color: var(--green-2d3134);
}

.bgColorSiteGreen {
  background-color: var(--green-00b371);

}

.contentPageTitleBar {
  position: relative;
  z-index: 5;
  background-color: var(--white-ff);
  box-shadow: 0 0.05rem .4rem 0 rgba(0, 0, 0, 0.5);
  padding: 2rem 2rem;
}

.fc-contentPageTitleBarText {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.fc-contentPageTitleBarButton {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.grid.gutters.grid--cols-3>.grid-cell>.profileStatsData {
  border-width: .1rem .1rem 0;
}

.grid.gutters.grid--cols-3:nth-of-type(2)>.grid-cell:nth-child(3)>.profileStatsData {
  border-width: .1rem .1rem .1rem .1rem;
}


.profileStatsData {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 3rem 1rem;
  border-style: solid;
  border-color: var(--grey-c6);
}

.fc-dateRow {
  padding: .7rem 0;
}

.fc-dateRowMonthYear {
  margin-top: -.125rem;
  margin-left: 1rem;
}

.fc-taughtBy ul {
  list-style: none;
  margin: .5rem 0 .5rem 0;
}

.fc-taughtBy ul li {
  margin: .5rem 1rem 0 0;
}

main ul,
ul li {
  list-style: none;
}

.fc-directoryCard {
  padding: 4rem
}

.fc-directoryCard a {
  text-decoration: none;
  color: var(--grey-424041)
}

.fc-directoryCard a:hover {
  color: var(--green-00b371)
}

.fc-directoryCard a img:hover {
  opacity: .65;
}

/* .fc-directoryCard a div {
  display: none;
  width: var(--M);
  height: var(--M);
}

.fc-directoryCard a div:hover {
  display: block;
  position: absolute;
  width: var(--M);
  height: var(--M);
  border-radius: 50%;
  background-color: var(--green-00b371);
  z-index: 2;
  opacity: .35;
} */

.fc-directoryCardSmContParent {
  /* max-height: 100vh; */
  width: 100%;
  overflow: hidden;
  background-color: var(--white-ff);
  box-shadow: 0 0.05rem .4rem 0 rgba(0, 0, 0, 0.5);
}

.fc-directoryCardSmContChild {
  width: 100%;
  /* height: 100%; */
  overflow: auto;
  margin-right: 16px;
}

.fc-directoryCardSmContChild::-webkit-scrollbar {display:none;}

.fc-directoryCardSm {
  padding: 1.5rem 0;
  margin: 0 3rem;
  border-bottom: var(--brdr-profile-thickness) solid var(--grey-c6)
}

.fc-directoryCardSm:hover {
  border-bottom: var(--brdr-profile-thickness) solid var(--green-00b371)
}

.fc-directoryCardSmContParent>ul>li:hover {
  background-color: var(--green-00b371);
  color: var(--white-ff);
}

.fc-directoryCardSmContParent>ul>li>a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--grey-424041);
}


.fc-directoryCardSmContParent>ul>li>a:visited {
  color: var(--grey-81)
}

.fc-directoryCardSmContParent>ul>li>a:hover {
  /* text-decoration: none; */
  color: var(--white-ff);
}

.fc-directoryCardSm:hover {
  background-color: var(--green-00b371);
}

.fc-directoryCardSmContParent>ul>li>.active,
.fc-directoryCardSmContParent>ul>li>.active>article {
  background-color: var(--green-00b371);
  color: var(--white-ff);
  border-bottom: var(--brdr-profile-thickness) solid var(--green-00b371)
}

.fc-twothirdsLeftViewProfile {
  padding: 3rem
}

.fc-twothirdsLeftViewProfile-sub {
  margin-left: 3.5rem;
}

.fc-twothirdsLeftViewProfile-sub>div>h6:nth-of-type(2) {
  margin-left: 1rem;
}

.fc-profileAboutExp {
  padding: 2rem 3rem 2.75rem 3rem;
  border-left: 1px solid #c6c6c6;
}

.fc-profileAboutExp:first-of-type {
  border-bottom: 1px solid #c6c6c6;
}

.icon {
  border-left: var(--brdr-profile-thickness) solid var(--grey-c6);
  border-bottom: var(--brdr-profile-thickness) solid var(--grey-c6);
  padding: 2rem 0 1.5rem 0;
}

.linkNotSetup {
  color: var(--grey-c6);
}

.port {
  border-left: var(--brdr-profile-thickness) solid var(--grey-c6);
}

.port a,
.icon>a,
.fc-directoryCard>a>h4 {
  text-decoration: none;
}

.port a,
.icon>a,
.fc-directoryCard>a>h4 {
  color: var(--grey-424041)
}

.port a:visited,
.icon>a:visited,
.fc-directoryCard>a:visited>h4 {
  color: var(--grey-81);
}

.port a:hover,
.icon>a:hover,
.fc-directoryCard>a:hover>h4 {
  color: var(--green-00b371);
}


.fc-selectedLessonButtons {
  margin: 2rem 0;
}

.fc-selectedLessonButtons>.btn {
  padding: 1.25rem 6rem;
  margin-left: 1rem;
}

.fc-selectedLessonButtons>.btn:first-of-type {
  margin: 0;
}

.fc-star {
  width: 100%;
}

.fc-star i {
  margin-left: 2rem;
}

.fc-seeMore h5 a {
  text-decoration: none;
  color: var(--grey-424041);
}

.fc-seeMore h5 a:visited {
  color: var(--grey-81);
}

.fc-seeMore h5 a:hover {
  color: var(--green-00b371);
}

.fc-usersAttendingPortraits ul li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fc-usersAttendingPortraits ul li div h5 {
  margin-left: 2rem;
  padding-right: 2rem;
}

.fc-usersAttendingPortraits ul li div a img:hover {
  opacity: .5;
}

.fc-lessonText {
  max-height: 25rem;
  min-height: 25rem;
  overflow: auto;
  /* white-space: pre-line; */
}

.fc-informationButtonDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fc-sortFilter {
  margin: 0 1.5rem;
}

.fc-sortFilter>.grid>.grid-cell>.fc-sortBar-row,
.fc-sortFilter>.grid>.grid-cell>.fc-filterBar-row {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.fc-sortFilter>.grid>.grid-cell>.fc-sortBar-row {
  justify-content: flex-start;
}

.fc-sortFilter>.grid>.grid-cell>.fc-filterBar-row {
  justify-content: flex-end;
}

.fc-sortFilter>.grid>.grid-cell>.fc-sortBar-row>.fc-sortBar,
.fc-sortFilter>.grid>.grid-cell>.fc-filterBar-row>.fc-filterBar {

  background-color: var(--white-ff);
  border: var(--brdr-profile-thickness) solid var(--grey-97);
  width: 95%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .fc-sortFilter > .grid > .grid-cell > .fc-filterBar-row > .fc-filterBar > select */

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper {
  position: relative;

  border: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper>.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* line-height: 38px; */
  cursor: default;
  position: relative;

}

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper>.header>.headerTitle {
  padding: 1rem 1.25rem 1rem 1.5rem;
  margin-right: 1rem;
  /* font-size: 2rem;
  font-weight: 500;
  letter-spacing: .14rem; */
}

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper>.header>.fc-sortBarSpan {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper>.header>.fc-sortBarSpan>h6 {
  margin-right: 1rem;
}

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper>.header>.fc-sortBarSpan>i {
  font-size: 5rem;
  color: var(--green-00b371);
  margin-right: 1rem;
  margin-top: -.3rem;
}

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper>.list {
  position: absolute;
  z-index: 10;
  /* padding: 1rem 0rem 0rem; */
  background-color: var(--white-ff);
  /* max-height: 4.7rem; */
  max-height: 40.0rem;
  overflow-y: auto;

  width: 100%;
  border: var(--brdr-profile-thickness) solid var(--grey-97);
  border-top: none;
}

/* .dropdownWrapper>.list{
  color: var(--grey-424041);
} */

.dropdownWrapper>.list>ul{
  padding: 1rem;
}

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper>.list>.listItem,
.dropdownWrapper>.list>.listTitle>.listItem {
  padding: 1rem;
}
.dropdownWrapper>.list>.listTitle>.listItem:first-child{
  margin-top: 1rem;
}

/* .fc-sortFilter > .grid > .grid-cell > .fc-sortBar-row > .fc-sortBar >  */
.dropdownWrapper .listItem:hover,
.dropdownWrapper .listItem.selected {
  background-color: var(--green-00b371);
  color: var(--white-ff)
}

.fc-replies {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* display: none; */
}

.fc-replies h5:hover {
  color: var(--green-00b371);
  opacity: .50;
}

.fc-replies.open {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.fc-replies.open .fc-answers {
  display: flex;
  flex-direction: column;
  margin: 1.9em 0;
}

.fc-replies.open .fc-answers p {
  margin: 1rem 0 2rem 0;
}

.fc-replies.open>button {
  align-self: flex-end;
}

.listOptions>li {
  /* margin-left: .75rem; */
  margin-left: 1rem;
}

.listOptions>li:first-of-type {
  margin-left: 0;
}

/* ============================================ */
/*                     Modal                    */
/* ============================================ */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modalCard {
  position: fixed;
  background: white;
  width: 75%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50.2%, -50.2%);
  padding: 5rem 5rem;
}

.modalClose {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: var(--grey-424041);
}

.modalClose:hover {
  color: var(--green-00b371)
}

.modalHR {
  border-top: 0;
  border-bottom: 1px solid #c6c6c6;
  width: 100%;
}

.modalNav {
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* ============================================ */
/*                     Footer                   */
/* ============================================ */

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--white-ff);
  padding: 1rem 0;
}

.fc-copyright {
  padding-left: 2rem;
  justify-content: flex-start;
}

.fc-mediaIcons {
  padding-right: 2rem;
  justify-content: flex-end;
  text-decoration: none;
}

.mediaIcons>figure>a {
  /* color: var(--black-00); */
  color: var(--grey-424041);
}

.mediaIcons>figure>a>i {
  margin-left: 1rem;
}

.mediaIcons a:hover {
  color: var(--green-00b371)
}

.mediaIcons>figure:last-child {
  margin-right: 0;
}

.errorTxtRow {
  display: flex;
  flex-direction: row;
}

.errorTxtRow > h5 {
  margin-left: 1rem;
}

.errorTxtRow > h5 > h5 {
  margin-left: 1rem;
}

/* ============================================ */
/*                   Avatars                    */
/* ============================================ */

:root {
  --XXXS: 4rem;
  --XXS: 7rem;
  --XS: 10.7rem;
  --S: 17.6rem;
  --M: 21.3rem;
  --L: 29.3rem;
  --XL: 31.0rem;
  --XXL: 42.3rem;
}

.avatarXXXS {
  width: var(--XXXS);
  height: var(--XXXS);
  border-radius: 50%;
}

.avatarXXS {
  width: var(--XXS);
  height: var(--XXS);
  border-radius: 50%;
}

.avatarXS {
  width: var(--XS);
  height: var(--XS);
  border-radius: 50%;
}

.avatarS {
  width: var(--S);
  height: var(--S);
  border-radius: 50%;
}

.avatarM {
  width: var(--M);
  height: var(--M);
  border-radius: 50%;
}

.avatarL {
  width: var(--L);
  height: var(--L);
  border-radius: 50%;
}

.avatarXL {
  width: var(--XL);
  height: var(--XL);
  border-radius: 50%;
}

.avatarXXL {
  width: var(--XXL);
  height: var(--XXL);
  border-radius: 50%;
}

.avatarBS {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.errorPhoto {
  width: 55%;
  height: 55%;
}

.loadingScreen {
  height: calc(100vh - 20vh);
}

.loadingScreenAnimation {
  /* width: 45%; */
  height: 100%;
}

.loadingScreenSecondary {
  height: calc(100vh - 60vh);
}

.loadingScreenAnimationSecondary {
  /* width: 100%; */
  height: 100%;
}

.datePicker {
  margin-left: 3.5rem;
}
.dateField > div > label {
  
}

/* ============================================ */
/*          react tags - categories             */
/* ============================================ */

.react-tags {
  position: relative;
  /* padding: .5rem 0 0 .5rem; */
  border: 1px solid #D1D1D1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1rem;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
  
  width: 100%;
}

.react-tags.is-focused {
  border-color: #B1B1B1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 .5rem .5rem 0;
  padding: .5rem .75rem;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #AAA;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #B1B1B1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 1.5rem 1rem;
  /* margin-bottom: 6px; */

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__suggestions {
    width: 240px;
  }

}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

/* ============================================ */
/*            react tags - lessons              */
/* ============================================ */

.react-tags {
  position: relative;
  /* padding: .5rem 0 0 .5rem; */
  border: 1px solid #D1D1D1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1rem;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #B1B1B1;
}

.react-tags-lesson__selected {
  display: inline;
}

.react-tags-lesson__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  /* margin: 0 .5rem .5rem 0; */
  margin: .5rem;
  /* padding: .5rem .75rem; */
  padding: 1rem 2rem;  
  border: var(--brdr-profile-thickness) solid var(--green-00b371);
  border-radius: 2rem;
  background: var(--green-00b371);
  color: var(--white-ff);
  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags-lesson__selected-tag > img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 80%;
}

.react-tags-lesson__selected-tag:after {
  content: '\2715';
  /* color: #AAA; */
  color: var(--white);
  margin-left: 8px;
}

.react-tags-lesson__selected-tag:hover,
.react-tags-lesson__selected-tag:focus {
  border-color: #B1B1B1;
}

.react-tags-lesson__search {
  display: inline-block;

  /* match tag layout */
  padding: 1.5rem 1rem;
  /* margin-bottom: 6px; */

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags-lesson__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags-lesson__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags-lesson__search input::-ms-clear {
  display: none;
}

.react-tags-lesson__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags-lesson__suggestions {
    width: 240px;
  }

}

.react-tags-lesson__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags-lesson__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags-lesson__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags-lesson__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags-lesson__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags-lesson__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

/* ============================================ */
/*                  skillTags                   */
/* ============================================ */

.fc-Tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.tag {
  padding: 1rem 2rem;
  border: 1px solid var(--green-00b371);
  border-radius: 2.5rem;
  margin: .5rem;
}

.userTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--green-00b371);
  border-radius: 2.5rem;
  margin: .5rem;
  padding: .5rem;
}

.userTagText {
  margin-left: 1rem;
}

.userTagTextSpanMid {
  margin-left: 1rem;
  margin-right: 1rem;
}

.userTagTextSpanRight {
  margin-left: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

.fc-UserTags:nth-of-type(0){
  margin-left: 0rem;
}

.react-tags > .react-tags__selected:focus,
.react-tags > .react-tags__selected > .react-tags__selected-tag:focus {
  outline-color: transparent;
}

/* .tag:hover {
  border: 1px solid var(--green-00b371);
  background-color: var(--green-00b371);
  color: var(--white-ff);
} */

.react-tags > .react-tags__selected > .react-tags__selected-tag {
  /* padding: 1rem 2rem; */
  padding: 1rem 4rem 1rem 2rem;
  border: 1px solid var(--green-00b371);
  background-color: transparent;
  border-radius: 2.5rem;
  margin: .5rem;
  /* margin-right: 1.2rem; */
  font-size: 1.6rem;
  color: var(--grey-424041);
}

.react-tags__selected-tag:after {
  /* close */
  position: absolute;
  font-size: 1.2rem;
  margin: .25rem 1.2rem 0rem;
  color: var(--grey-64);
}

.fc-Tags li:first-child {
  margin-left: 0;
}

.fc-categoryItemCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.categoryItem {
  width: 25%;
  margin: 0 0 1.5rem 0;
}

.categoryItem > h5:nth-of-type(2) {
  margin-left: 1rem;
}

.categoryItem > h5:nth-of-type(3) {
  margin-left: 1rem;
  cursor: pointer;
}

.skillItem {
  width: 50%;
  margin: 0 0 1.5rem 0;
}

.skillItem > h5:nth-of-type(2) {
  margin-left: 1rem;
  margin-top: -.45rem;
}

.skillItem > h5:nth-of-type(3) {
  margin-left: 1rem;
  cursor: pointer;
}


/* ============================================ */
/*                  Font Colors                 */
/* ============================================ */

.fcWhite {
  color: var(--white-ff);
}

.fcBlack {
  color: var(--black-00);
}

.fcGreenRT {
  color: var(--green-00b371)
}

/* --grey-4f */
.fcGrey4f {
  color: var(--grey-4f);
}

.fcGreyb9 {
  color: var(--grey-b9);
}

.fcGreyc6 {
  color: var(--grey-c6)
}

.fcGrey81 {
  color: var(--grey-81);
}

.fcGrey424041 {
  color: var(--grey-424041);
}

.fcGrey55 {
  color: var(--grey-55)
}

.fcGrey64 {
  color: var(--grey-64)
}

.fcGrey66 {
  color: var(--grey-66)
}

.fcGrey06 {
  color: var(--grey-06)
}

.fcOrangeff9a23 {
  color: var(--orange-ff9a23)
}

.fcAlert {
  color: var(--orange-ff9a23)
}

.fcWarn {
  color: var(--warn)
}

.fcError {
  color: var(--error)
}

.op50 {
  opacity: .5;
}

.op25 {
  opacity: .25;
}

/* ============================================ */
/*                  Font Alignment                 */
/* ============================================ */

.ta-cent {
  text-align: center;
}

.ta-just {
  text-align: justify;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

/* ============================================ */
/*                  Font Transforms                 */
/* ============================================ */

.ttup {
  text-transform: uppercase;
}

.ttlow {
  text-transform: lowercase;
}

/* ============================================ */
/*             Headers / Font Size              */
/* ============================================ */

.fs80 {
  font-size: 8rem;
}

.fs72 {
  font-size: 7.2rem;
}

.fs66 {
  font-size: 6.6rem;
}

.fs60 {
  font-size: 6.0rem;
}

.fs575 {
  font-size: 5.75rem;
}

.fs50 {
  font-size: 5rem;
}

.fs48 {
  font-size: 4.8rem;
}

.fs45 {
  font-size: 4.5rem;
}

.fs40 {
  font-size: 4rem;
}

.fs36 {
  font-size: 3.6rem;
}

.fs33 {
  font-size: 3.3rem;
}

.fs30 {
  font-size: 3rem;
}

.fs28 {
  font-size: 2.8rem;
}

.fs26 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.4rem;
}

.fs24 {
  font-size: 2.4rem;
}

.fs22 {
  font-size: 2.2rem;
}

.fs20 {
  font-size: 2rem;
}

.fs18 {
  font-size: 1.8rem;
}

.fs16 {
  font-size: 1.6rem;
}

.fs14 {
  font-size: 1.4rem;
}

.fs12 {
  font-size: 1.2rem;
}

.fs10 {
  font-size: 1rem;
}

/* ============================================ */
/*                 Font Weight                  */
/* ============================================ */

.fw900 {
  font-weight: 900;
}

.fw800 {
  font-weight: 800;
}

.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

.fw200 {
  font-weight: 200;
}

.fw100 {
  font-weight: 100;
}

.fwBold {
  font-weight: bold;
}

/* ============================================ */
/*                Letter Spacing                */
/* ============================================ */

.ls48 {
  letter-spacing: .48rem;
}

.ls44 {
  letter-spacing: .44rem;
}

.ls30 {
  letter-spacing: .3rem;
}

.ls28 {
  letter-spacing: .28rem;
}

.ls26 {
  letter-spacing: .26rem;
}

.ls24 {
  letter-spacing: .24rem;
}

.ls22 {
  letter-spacing: .22rem;
}

.ls20 {
  letter-spacing: .20rem;
}

.ls18 {
  letter-spacing: .18rem;
}

.ls16 {
  letter-spacing: .16rem;
}

.ls14 {
  letter-spacing: .14rem;
}

.ls12 {
  letter-spacing: .12rem;
}

.ls10 {
  letter-spacing: .1rem;
}

.ls08 {
  letter-spacing: .08rem;
}

/* ============================================ */
/*             Paragraph Displays               */
/* ============================================ */

.wspl {
  white-space: pre-line;
}

/* ============================================ */
/*                  Margins                     */
/* ============================================ */

.mch {
  margin-left: auto;
  margin-right: auto;
}

.mt130 {
  margin-top: 13rem;
}

.mt80 {
  margin-top: 8rem;
}

.mt70 {
  margin-top: 7rem;
}

.mt50 {
  margin-top: 5rem;
}

.mt45 {
  margin-top: 4.5rem;
}

.mt40 {
  margin-top: 4rem;
}

.mt35 {
  margin-top: 3.5rem;
}

.mt30 {
  margin-top: 3rem;
}

.mt25 {
  margin-top: 2.5rem;
}

.mt20 {
  margin-top: 2rem;
}

.mt15 {
  margin-top: 1.5rem;
}

.mt10 {
  margin-top: 1rem;
}

.mt05 {
  margin-top: .5rem;
}

.mt0125 {
  margin-top: .125rem;
}

.mtp125 {
  margin-top: .125rem;
}

.mb70 {
  margin-bottom: 7rem;
}

.mb50 {
  margin-bottom: 5rem;
}

.mb45 {
  margin-bottom: 4.5rem;
}

.mb40 {
  margin-bottom: 4rem;
}

.mb35 {
  margin-bottom: 3.5rem;
}

.mb30 {
  margin-bottom: 3rem;
}

.mb25 {
  margin-bottom: 2.5rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb15 {
  margin-bottom: 1.5rem;
}

.mb10 {
  margin-bottom: 1rem;
}

.mb05 {
  margin-bottom: .5rem;
}

.ml40 {
  margin-left: 4rem;
}

.ml30 {
  margin-left: 3rem;
}

.ml20 {
  margin-left: 2rem;
}

.ml15 {
  margin-left: 1.5rem;
}

.mtNeg125 {
  margin-top: -1.25rem;
}

.mtNeg10 {
  margin-top: -1rem;
}

.pdTB1LR2 {
  padding: 1rem 2rem;
}

.pdTB1p25LR2p5 {
  padding: 1.25rem 2.5rem;
}

.pdTB7LR1 {
  padding: 7rem 1rem;
}

.pdTB1LR5 {
  padding: 1rem 5rem;
}

.pdTB15LR4 {
  padding: 1.5rem 4rem;
}

.pdTB2LR5 {
  padding: 2rem 5rem;
}

.pdTB3LR5 {
  padding: 3rem 5rem;
}

.pdTB5LR3 {
  padding: 5rem 3rem;
}

.pdTB2LR8 {
  padding: 2rem 8rem;
}

.pdl10 {
  padding-left: 1rem;
}

.pdl05 {
  padding-left: 0.5rem;
}

.pdLR3 {
  padding: 0 3rem;
}

/* ============================================ */
/*                   Button                     */
/* ============================================ */

.btn {
  cursor: pointer;
}

.btn,
.btn:hover {
  border-radius: 1rem;
}

.btn.btnFillClrSchGreen00b371,
.btn.btnOutlineClrSchGreen00b371:hover,
.btn.btnFillClrSchGreen00b371.btnSelected:hover {
  border: var(--btn-brdr-thickness) solid var(--green-00b371);
  background-color: var(--green-00b371);
  color: var(--white-ff);
}

.btn.btnOutlineClrSchGreen00b371,
.btn.btnFillClrSchGreen00b371:hover {
  border: var(--btn-brdr-thickness) solid var(--green-00b371);
  background-color: var(--white-ff);
  color: var(--green-00b371);
}

.btn.btnFillClrSchGreen00b371:hover {
  background-color: transparent;
}


.btn.btnFillClrSchGreen006842,
.btn.btnOutlineClrSchGreen006842:hover,
.btn.btnFillClrSchGreen006842.btnSelected:hover {
  border: var(--btn-brdr-thickness) solid var(--green-006842);
  background-color: var(--green-006842);
  color: var(--white-ff);
}

.btn.btnOutlineClrSchGreen006842,
.btn.btnFillClrSchGreen006842:hover {
  border: var(--btn-brdr-thickness) solid var(--green-006842);
  background-color: var(--white-ff);
  color: var(--green-006842);
}

.btn.btnFillClrSchGreen2d3134,
.btn.btnOutlineClrSchGreen2d3134:hover,
.btn.btnFillClrSchGreen2d3134.btnSelected:hover {
  border: var(--btn-brdr-thickness) solid var(--green-2d3134);
  background-color: var(--green-2d3134);
  color: var(--white-ff);
}

.btn.btnFillClrSchWarn {
  border: var(--btn-brdr-thickness) solid var(--error);
  background-color: var(--error);
  color: var(--white-ff);
}

.btn.btnFillClrSchWarn:hover {
  border: var(--btn-brdr-thickness) solid var(--error);
  background-color: var(--white-ff);
  color: var(--error);
}

.btn.btnOutlineClrSchGreen2d3134,
.btn.btnFillClrSchGreen2d3134:hover {
  border: var(--btn-brdr-thickness) solid var(--green-2d3134);
  background-color: var(--white-ff);
  color: var(--green-2d3134);
}

.btn.btnOutlineClrSchUnavailable:hover {
  border: var(--btn-brdr-thickness) solid var(--grey-b9);
  background-color: var(--grey-b9);
  color: var(--white-ff);
}

.btn.btnFillClrSchGreen00b371.btnOutlineClrSchUnavailable,
.btn.btnFillClrSchWarn.btnOutlineClrSchUnavailable.btnVoted,
.btn.btnFillClrSchGreen006842.btnOutlineClrSchUnavailable,
.btn.btnFillClrSchGreen2d3134.btnOutlineClrSchUnavailable {
  border: var(--btn-brdr-thickness) solid var(--grey-b9);
  background-color: var(--white-ff);
  color: var(--grey-b9);
}

.btn.btnTemp,
.btn.btnFillGreyB9:hover {
  border: var(--btn-brdr-thickness) solid var(--grey-b9);
  background-color: var(--white-ff);
  color: var(--grey-b9);
}

.btn.btnTemp:hover,
.btn.btnFillGreyB9 {
  border: var(--btn-brdr-thickness) solid var(--grey-b9);
  background-color: var(--grey-b9);
  color: var(--white-ff);
}

.btn.btnFillClrSchGreen00b371.btnOutlineClrSchUnavailable:hover {
  border: var(--btn-brdr-thickness) solid var(--green-00b371);
  background-color: var(--green-00b371);
  color: var(--white-ff);
}

.btn.btnFillClrSchGreen006842.btnOutlineClrSchUnavailable:hover {
  border: var(--btn-brdr-thickness) solid var(--green-006842);
  background-color: var(--green-006842);
  color: var(--white-ff);
}

.btn.btnFillClrSchGreen2d3134.btnOutlineClrSchUnavailable:hover {
  border: var(--btn-brdr-thickness) solid var(--green-2d3134);
  background-color: var(--green-2d3134);
  color: var(--white-ff);
}

.btn.btnFillClrSchWarn.btnOutlineClrSchUnavailable.btnVoted:hover {
  border: var(--btn-brdr-thickness) solid var(--error);
  background-color: var(--error);
  color: var(--white-ff);
}

.btn.btnFillClrSchGreen00b371OutlineWhite {
  border: var(--btn-brdr-thickness) solid var(--white-ff);
  background-color: var(--green-00b371);
  color: var(--white-ff);
}

.btn.btnFillClrSchGreen00b371OutlineWhite:hover {
  border: var(--btn-brdr-thickness) solid var(--green-00b371);
  background-color: var(--green-00b371);
  color: var(--white-ff);
}

/* btn btnFillClrSchGreen2d3134 btnSelected */

.btnPadTB1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btnPadTB1p5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.btnPadTB2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btnPadTB3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.btnPadTB4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.btnPadTB5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.btnPadLR1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btnPadLR2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btnPadLR3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.btnPadLR4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.btnPadLR5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.btnPadLR10 {
  padding-left: 10rem;
  padding-right: 10rem;
}


/* Flex Container Properties */

.fc--disp-flex {
  display: flex;
}

.fc--fdir-row {
  flex-direction: row;
}

.fc--fdir-col {
  flex-direction: column;
}

.fc--fwrap-yes {
  flex-wrap: wrap;
}

.fc--fwrap-no {
  flex-wrap: nowrap;
}

.fc--aItem-fs {
  align-items: flex-start;
}

.fc--aItem-fe {
  align-items: flex-end;
}

.fc--aItem-ce {
  align-items: center;
}

.fc--aCont-fs {
  align-content: flex-start;
}

.fc--aCont-fe {
  align-content: flex-end;
}

.fc--aCont-ce {
  align-content: center;
}

.fc--aCont-sb {
  align-content: space-between;
}

.fc--jCont-ce {
  justify-content: center;
}

.fc--jCont-fs {
  justify-content: flex-start;
}

.fc--jCont-fe {
  justify-content: flex-end;
}

.fc--jCont-sb {
  justify-content: space-between;
}

.fc--jCont-se {
  justify-content: space-evenly;
}

.fi--aSelf-fs {
  align-self: flex-start;
}

.fi--aSelf-fe {
  align-self: flex-end;
}

.fi--aSelf-ce {
  align-self: center;
}

/* ============================================ */
/*           Flexbox Responsive Grid            */
/* ============================================ */

/*Basic Grid Styles*/

.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.grid-cell {
  flex: 1;
}

.demo {
  padding: .8em 1em 0;
  margin-bottom: 1em;
  border-radius: 3px;
}

.demo:after {
  content: "";
  display: block;
  margin-top: .8em;
  height: 1px;
}

/* .demo:hover {
  background: $demoMainDark;
} */

/* Grid Style Modifiers */
/* With gutters*/
:root {
  --gutter: 1em;
}

.grid--gutters {
  margin-left: var(--gutter);

}

.grid--gutters .grid-cell {
  padding-left: var(--gutter);
}

.grid--nested .grid-cell:first-of-type .demo {
  margin-right: 1em;
}

/* Menu */
.navigation {
  list-style: none;
  /*background: deepskyblue;*/
  /* background: $demoHolly; */
  margin: 0 0 1em;
  /* border: 1px solid $demoBorder; */
  border-radius: 3px;
  display: flex;
  /* -webkit-flex-flow: row wrap; */
  justify-content: flex-end;
}

.navigation:hover {
  background: darkgray;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #333;
}

.navigation a:hover {
  background: darkred;
  border-radius: 3px;
}

@media all and (max-width: 800px) {
  .navigation {
      justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
  }

  .navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
      border-bottom: none;
  }
}

/*===========================================*/

/* Base classes for all media - Mobile first */

.grid--cols-2>.grid-cell {
  flex: 0 0 100%;
}

.grid--cols-3>.grid-cell {
  flex: 0 0 100%;
}

.grid--cols-4>.grid-cell {
  flex: 0 0 100%;
}

.grid--cols-6>.grid-cell {
  /* flex: 0 0 calc(50% - var(--gutter)); */
  flex: 0 0 50%;
}

.grid--cols-12>.grid-cell {
  /* flex: 0 0 calc(33.3333% - var(--gutter)); */
  flex: 0 0 33.3333%;
}

.grid--holly-grail .aside,
.grid--holly-grail .main {
  flex: 1 100%;
}

/* One of -- columns*/

.grid--1of2>.grid-cell,
.grid--1of4>.grid-cell:first-of-type,
.grid--1of3>.grid-cell:first-of-type,
.grid--185>.grid-cell:first-of-type,
.grid--2of3>.grid-cell:first-of-type,
.grid--3of4>.grid-cell:first-of-type {
  flex: 0 0 100%;
}

.grid--1of6>.grid-cell:first-of-type {
  flex: 0 0 50%;
}

.grid--fit>.grid-cell {
  flex: 1;
}

.grid--full>.grid-cell {
  flex: 0 0 100%;
}

/* Tablet (medium) screens */

/* @media only screen and (min-width: 480px) { */
@media (min-width: 480px) {
  .grid--cols-4>.grid-cell {
      /* flex: 0 0 calc(50% - var(--gutter)); */
      flex: 0 0 50%;
  }

  .grid--cols-6>.grid-cell {
      /* flex: 0 0 calc(33.3333% - var(--gutter)); */
      flex: 0 0 33.3333%;
  }

  .grid--cols-12>.grid-cell {
      /* flex: 0 0 calc(16.6666% -  var(--gutter)); */
      flex: 0 0 16.6666%;
  }

  .grid--holly-grail .aside {
      /* flex: 1 calc(25% - var(--gutter)); */
      flex: 1 25%;
  }

  .grid--1of2>.grid-cell {
      flex: 0 0 50%;
  }

  .grid--1of6>.grid-cell:first-of-type {
      flex: 0 0 30%;
  }

  .grid--185>.grid-cell:first-of-type {
      flex: 0 0 100%;
  }

  .grid--1of4>.grid-cell:first-of-type {
      flex: 0 0 50%;
  }

  .grid--1of3>.grid-cell:first-of-type {
      flex: 0 0 100%;
  }

  .grid--2of3>.grid-cell:first-of-type {
      flex: 0 0 100%;
  }

  .grid--3of4>.grid-cell:first-of-type {
      flex: 0 0 100%;
  }
}

/* Large screens */

/* @media only screen and (min-width: 768px) { */
@media (min-width: 769px) {

  .grid--cols-2>.grid-cell,
  .grid--cols-3>.grid-cell,
  .grid--cols-4>.grid-cell,
  .grid--cols-6>.grid-cell,
  .grid--cols-12>.grid-cell {
      flex: 1;
  }

  .grid--holly-grail .main {
      flex: 2;
  }

  .grid--holly-grail .aside {
      flex: 1;
  }

  .grid--holly-grail .aside-1 {
      order: 1;
  }

  .grid--holly-grail .main {
      order: 2;
  }

  .grid--holly-grail .aside-2 {
      order: 3;
  }

  /* temp fix */
  .grid--cols-2>.grid-cell {
      flex: 0 0 50%;
  }

  .grid--1of2>.grid-cell {
      flex: 0 0 50%;
  }

  .grid--1of6>.grid-cell:first-of-type {
      flex: 0 0 16.6666%;
  }

  .grid--185>.grid-cell:first-of-type {
      flex: 0 0 18.5%;
  }

  .grid--1of4>.grid-cell:first-of-type {
      flex: 0 0 25%;
  }

  .grid--1of3>.grid-cell:first-of-type {
      flex: 0 0 30%;
  }

  .grid--2of3>.grid-cell:first-of-type {
      flex: 0 0 66.67%;
  }

  .grid--3of4>.grid-cell:first-of-type {
      flex: 0 0 75%;
  }

  .grid--gutters.grid--nested .grid-cell:first-of-type .demo {
      margin-right: 0;
  }

  .grid.gutters.grid--cols-3:nth-of-type(1)>.grid-cell:nth-child(1)>.profileStatsData {
      border-width: .1rem;
  }

  .grid.gutters.grid--cols-3:nth-of-type(1)>.grid-cell:nth-child(2) {
      padding-left: 0;
  }

  .grid.gutters.grid--cols-3:nth-of-type(1)>.grid-cell:nth-child(2)>.profileStatsData {
      border-width: .1rem 0;
  }

  .grid.gutters.grid--cols-3:nth-of-type(1)>.grid-cell:nth-child(3) {
      padding-left: 0;
  }

  .grid.gutters.grid--cols-3:nth-of-type(1)>.grid-cell:nth-child(3)>.profileStatsData {
      border-width: .1rem;
  }

  .grid.gutters.grid--cols-3:nth-of-type(2)>.grid-cell:nth-child(1)>.profileStatsData {
      border-width: 0 .1rem .1rem .1rem;
  }

  .grid.gutters.grid--cols-3:nth-of-type(2)>.grid-cell:nth-child(2) {
      padding-left: 0;
  }

  .grid.gutters.grid--cols-3:nth-of-type(2)>.grid-cell:nth-child(2)>.profileStatsData {
      border-width: 0 0 .1rem 0;
  }

  .grid.gutters.grid--cols-3:nth-of-type(2)>.grid-cell:nth-child(3) {
      padding-left: 0;
  }

  .grid.gutters.grid--cols-3:nth-of-type(2)>.grid-cell:nth-child(3)>.profileStatsData {
      border-width: 0 .1rem .1rem .1rem;
  }
}

/* ----------------------------------------- */
/* @media only screen and (max-width: 384px) { */
@media only screen and (max-width: 425px) {

  /* @media only screen and (max-width: 425px) and (min-width: 320px) { */
  /* (max-width: 480px) and (min-width: 426px) */
  html {
      font-size: 7px;
  }

  .hsAvatarXLCard p {
      max-width: 220px;
  }

  .navMain {
      margin-top: 17.1rem;
  }

  .content {
      margin-top: 0;
  }
}

/* @media only screen and (max-width: 576px) and (min-width: 385px) { */
@media only screen and (max-width: 480px) and (min-width: 426px) {

  html {
      font-size: 8px;
  }

  .hsAvatarXLCard p {
      max-width: 320px;
  }

  .navWrapper  {
      display: none;
      margin-top: 17.1rem;
  }

  .contentWrapper {
      margin-top: 0;
  }
}

/* @media only screen and (max-width: 768px) and (min-width: 577px) { */
@media only screen and (max-width: 768px) and (min-width: 481px) {

  html {
      font-size: 9px;
  }

  .hsAvatarXLCard p {
      max-width: 420px;
  }

  .secCarouselQuotes {
      background-color: var(--grey-2d3134);
      padding: 10rem 0 14rem 0;
  }

  .navWrapper  {
      display: none;
      margin-top: 17.1rem;
  }

  .contentWrapper {
      margin-top: 0;
      margin-top: 17.1rem;

  }

  .fc-selectedLessonButtons>.btn {
      margin-left: 0rem;
      margin-top: 1rem;
  }
}

/* @media (max-width: 768px){ */
@media only screen and (max-width: 768px) {
  .fc-logo {
      justify-content: center;
  }

  .fc-nav,
  .fc-search {
      justify-content: center;
  }

  .nav,
  .search {
      margin-top: 1rem;
  }

  .c-quote {
      margin-top: 4rem;
      text-align: center;
  }

  .cardProfileSetup {
      width: 100%;
      margin-left: 0;
  }

  .fc-copyright {
      justify-content: center;
      order: 1;
  }

  .copyright {
      margin-top: 1rem;
      padding-left: 0;
  }

  .fc-mediaIcons {
      justify-content: center;
  }

  .mediaIcons {
      padding-right: 0;
  }


}